[2018-01-01 19:19] pepejeria opened #1 "Is Carthage mandatory?"
There is a run script that expect the user to have a carthage (`/usr/local/bin/carthage`) folder. The projects won't build because of this

[2018-01-01 19:23] twittemb commented on #1
Hi @pepejeria

Yes, to build the project you need to install Carthage to build the dependencies and Swiftlint to run the code analysis.

Are you familiar with these tools ?

[2018-01-01 19:26] pepejeria commented on #1
No, but I can install them no problem. Would it be possible to have a future version that does not rely on Carthage?

[2018-01-01 19:30] twittemb commented on #1
You can install those tools with brew (brew install carthage and brew install swiftlint)

The other solution would have been to use CocoaPods because Carthage and Swiftlint can be embedded inside pods. But unfortunately I cannot mix these 2 dependency managers 🙁.

[2018-01-01 21:31] twittemb commented on #1
Hi @pepejeria, have I correctly answered your question ?

[2018-01-01 21:36] pepejeria commented on #1
Yeah, this answer my question thank you. I guess that asking for not having to have Carthage would be a feature request for a separate ticket?

[2018-01-01 21:42] twittemb commented on #1
I will close the issue then. I don't think it is possible to have both dependency managers at the same time. If you take a look at the other projects in the RxSwiftCommunity, Carthage is used a lot.

But you are welcome if you have a good Idea on this ! 👌

[2018-01-01 21:42] #1 closed

[2018-01-01 23:24] orta commented on #1
FWIW: SwiftLint is a pod: https://github.com/realm/SwiftLint/blob/master/SwiftLint.podspec

[2018-01-01 23:36] twittemb commented on #1
Hi @orta

Yes that what I meant when I reply to @pepejeria:
" _The other solution would have been to use CocoaPods because Swiftlint can be embedded inside à pod. But unfortunately I cannot mix these 2 dependency managers_ "

Thank you for accuracy :-)

[2018-01-03 09:10] anddygon opened #2 "iOS 9.0 support?"
Why does not support iOS9.0?

[2018-01-04 00:35] twittemb commented on #2
Hi @anddygon

I have added the iOS 9.0 compliance in the last release.

You can give it a try.

Thanks.

[2018-01-04 01:05] #2 closed

[2018-01-04 04:55] sirvon opened #4 "Other Types of Steppers Impl"
Thanks for this library, coming at a great time.

Where is the documentation on coding a basic Stepper?

[2018-01-04 07:23] dangthaison91 opened #6 "Nested subscription"
As RxSwift tips, nesting subscription should be avoided. While implementing `CompositeStepper` PR #5, I see you are triple subscribed in `Coordinator.swift` and it leads to a crash. I'm refactoring this function, so I open an issue to open discuss if you have any ideas?

https://github.com/ReactiveX/RxSwift/blob/master/Documentation/Tips.md

[2018-01-05 00:36] twittemb commented on #4
Hi @sirvon
Thanks for your feedback. Actually, there is no precise documentation on coding a basic Stepper.
As Stepper is a Protocol, there is no rule to follow but fulfill the Protocol requirements.

Either a Stepper is made to emit Steps in response to user events (it is the case in the demo app with WatchedViewModel and the pick function), Or it is made to emit Steps in response to other applic

[2018-01-05 00:49] twittemb commented on #6
Hi @dangthaison91

Thanks for your feedback. I totally agree on the nested subscriptions. We have to find a way to flatten this whole subscriptions chain.

I will work on that in a dedicated branch and come back to you later. I will try to use flatmap fix this issue. If you have better ideas, feel free to comment this thread.

For the CompositeStepper feature, in your case a workaround could be to

[2018-01-05 06:25] dangthaison91 commented on #6
@twittemb Thanks for your suggestion, I think workaround will work.

I just made a quick refactoring to remove nesting subscription follow your implementation. But I don't really happy with it, maybe we have to change the code flow:
[code]

[2018-01-06 03:43] twittemb commented on #4
hi @sirvon

I hope you had time to look at my answer. I'd be happy to discuss about that.

If you are ok with my explanations, let me know so that I can close this issue.

Thanks.

[2018-01-06 20:07] sirvon commented on #4
Thank you, for your depth.

Your example above has shown me, it's possible to have application logic in the stepper.

I was just trying to understand, constructing a stepper in general. This example and the steppers inside the flows give me more clarity.

So a Stepper can wrapper other functionality pertaining the particular flow its about to enter.
So you can Authtenticate that flow, what else ca

[2018-01-07 14:05] tomisacat opened #7 "potential memory leak?"
In `Flow.swift` there is a `Flows` class:

[code]

is there no problem without caring the returned `Disposable` value?

[2018-01-07 16:56] twittemb commented on #7
Hi @tomisacat

The take(1) function disposes the subscription once it has emitted its first "onNext" value. This is what avoid the memory leak.

Are you ok with that ?

Thanks for your feedback anyway.

[2018-01-07 19:47] PleaseDont opened #8 "How to coordinate more than 3 Flows?"
How to coordinate more than 3 `Flows` when using a `UITabBarController` with 4 or 5 `tabBars`?

I tried to overwrite the `Flows.whenReady` using `extension`, but it thrown error `'rxFlowReady' is inaccessible due to 'internal' protection level`.

[2018-01-07 20:17] twittemb commented on #8
Hi @PleaseDont

I tried to implement the whenReady function in the same manner than Observable.zip or Observable.combineLatest. For more than 3 Flows we have to modify the Flows code to add function that takes 4, 5, ... Flows and maybe add a function that takes a collection of Flows. If you wish you can do a PR or if you are not comfortable with that let me know so I can do it myself.

[2018-01-07 22:22] PleaseDont commented on #8
thx @twittemb
I'm still a rookie in Swift&iOS, but I will try.😅

[2018-01-07 22:23] twittemb commented on #8
@PleaseDont if you do so, please do your PR on the develop branch.

Do a first draft and I will help you if you are stuck :-)

[2018-01-07 23:56] twittemb commented on #4
Hi @sirvon
I don't know much about promise functions, but as far as I know I can't see anything that would not be possible in a Stepper.

For me a Stepper is something that represents the navigation state within the app.  There are 2 kinds of Stepper: the one that is attached directly to a Flow and the ones that are attached to the Presentables inside the Flow.

We could imagine that a "Flow attac

[2018-01-08 01:31] twittemb commented on #6
Hi @dangthaison91
Thanks for you code. I'm working on this refactoring on my side. I'll keep you informed when this is OK.
I leave this issue open until the work is merged so we can discuss about this.

[2018-01-08 01:33] #7 closed

[2018-01-08 03:38] dangthaison91 commented on #6
@twittemb  I think you will have more ideas on this caused you are the creator. I already integrate into my project so really looking forward to this. If you need any help, please ask.

Composite Steppers on PR #5 work with the code above. I will check again once this issue is solved. Please leave it open.

[2018-01-08 09:00] tomisacat commented on #7
Glad to hear your explanation, great work!

[2018-01-08 09:46] tomisacat commented on #8
@PleaseDont I've added a function satisfied your need, feel free to check it out : )

[2018-01-08 10:26] PleaseDont commented on #8
@tomisacat Thank you so much :-)

[2018-01-09 04:20] twittemb commented on #8
I will merge this PR tomorrow 👍

[2018-01-09 10:07] Gurpartap opened #10 "carthage installation issue"
With `github "RxSwiftCommunity/RxFlow"` in my path/to/myproject/Cartfile, `carthage update`[1] fails without any useful information in logs (both stdout and xcodebuild log file).

The solution was to `cd /path/to/myproject/Carthage/Checkouts/RxFlow/RxFlow && carthage update`[1]. After this, running `carthage update`[1] again in /path/to/myproject succeeded as expected.

It should not be ideally ne

[2018-01-09 13:53] ayoubkhayatti commented on #10
I'm not expert in Carthage, but that's because RxFlow target has it's own dependencies, while RxFlow is a dependency in RxFlowDemo, so have to `carthage install` in the frameworks target then in demo project.

[2018-01-09 15:27] twittemb commented on #10
Hi @Gurpartap, thanks for your feedback. I'm going to take a look at that today and keep you informed.

[2018-01-10 16:45] twittemb commented on #10
Hi @Gurpartap

I have pushed a release 1.0.4. It should fix the Carthage issue.

I close this thread.

Thanks for the feedback.

[2018-01-10 16:45] #10 closed

[2018-01-10 16:45] #4 closed

[2018-01-13 18:50] twittemb commented on #8
@tomisacat @PleaseDont I close this issue since the PR https://github.com/RxSwiftCommunity/RxFlow/pull/9 has been merged.

Thanks.

[2018-01-13 18:50] #8 closed

[2018-01-16 19:18] sirvon opened #11 "Consistent Import Problems - This Library won't Build - No such module RxFlow, in Demo and Real Project"
Everytime, i try to build a Demo Project or a Project I create with RxFlow, I get

[code]

I'm using cocoapods

[code]

It took me a little bit to understand the concepts behind this library and integrate them into my
projects, the time has come to build. But, I am now facing issues getting RxFlow to import.

I have tried using cocoapods and Carthage, on fresh projects, existing projects and the d

[2018-01-16 21:55] sirvon commented on #10
@ayoubkhayatti can you explain that..because i'm having a rough time getting library to build?

[2018-01-16 22:52] twittemb commented on #11
Hi @sirvon

I will do 1 single page app with Carthage and 1 with CocoaPods and see what is going on. I won't let you struggle with it 👍

I will keep you informed shortly.

Thibault.

[2018-01-17 00:53] twittemb commented on #11
@sirvon

I've made 2 simple apps. One with Carthage and one with CocoaPods. Can you give it a try ?
* https://github.com/twittemb/RxFlowCarthageDemo (carthage update --platform iOS)
* https://github.com/twittemb/RxFlowPodsDemo (pod update and then pod install)

I have tested these apps both on simulator and on true device (iPhone X).

To be honest, I had once the Warning about "No module RxFlow",

[2018-01-17 01:50] twittemb commented on #6
Hi @dangthaison91

I have made a PR about nested subscriptions. You are a reviewer so you can give me your feedback.

PR -> https://github.com/RxSwiftCommunity/RxFlow/pull/12

Thanks.

[2018-01-17 02:37] sirvon commented on #11
Thank You for your feedback.

I will try those demos and clean my dd.
And let you know.

[2018-01-17 06:14] sirvon commented on #11
I downloaded both demos to my download folder.
And ran both, everything works great !

I cleared my derived data, like I always do. I even have a bash alias for it.
I cleared cocoapods and reinit and run pod install.

And my projects now work with RxFlow.

Thanks!

[2018-01-18 10:13] wsof401 opened #13 "The struct 'Flowable' makes me confused"
`'Flowable'` looks like a protocol that describe some thing can flow

[2018-01-18 14:22] twittemb commented on #13
Hi @wsof401

I agree with you. Usually, names in "able" are used for protocol that can "do" something.
Naming is not easy.

In my mind a Flowable is something that participate to the Flow lifetime, so that made sense to be name in "able" (although it is not a Protocol)

Do you have other ideas for a name ? It could be:

- FlowItem
- FlowBuilder

[2018-01-18 21:34] sirvon commented on #11
This library is still starting to not building again.

The fact that this error happens at build time after coding and then expecting to see
results, is a bummer for this library.

Can you help me find the real problem in why this library is having import problems?

[2018-01-18 21:36] twittemb commented on #11
Hi @sirvon

Sure I will help you. I understand that is a big issue for you. I will investigate on that right away.

[2018-01-18 21:37] sirvon commented on #11
thank you, sir. for your prompt assistance !

[2018-01-18 21:46] sirvon commented on #13
Just because you said FlowBuilder, I understand the code more now.

[2018-01-18 21:58] twittemb commented on #13
Hi

And what about: FlowAction. It seems to fit event better because FlowBuilder means that it will build something ... which a it doest not in fact. It holds 2 references on things that will help build a Flow.

[2018-01-18 22:26] sirvon commented on #11
all fixed. my error!

[2018-01-18 22:26] #11 closed

[2018-01-19 04:59] wsof401 commented on #13
@twittemb

`Flowable` is now using to describe the next navigation item to coordinator

 But naming of `Any Action` should not only expression a single behavior, it should be a series of behaviors,  Just like RxSwift's ObservableType, It emits uncertain counts event.

`FlowProvider` or `PresenterProvider` or `FlowBuilder` may be more suitable if it is just used for describing the navigation relati

[2018-01-19 19:38] twittemb commented on #13
@wsof401

My problem with FlowBuilder / FlowProvider is that it means that it we build another Flow. But it is not the case ... it helps to build steps inside the Flow and eventually but not necessarily other new Flows as well.

I'd like to find a name that would mean: "Contribute to the progress in the flow with this next presentable and this next stepper" ! not that easy :-)

It could be: Naviga

[2018-01-19 22:22] twittemb commented on #13
@wsof401 @sirvon

I have just pushed on develop a version with the name NavigationItem. I think it is a reasonable choice and better than Flowable in anyway.

I close this issue.

[2018-01-19 23:09] sirvon opened #15 "What is Flowable.noFlow?"
When this is returned, what does this mean?

[code]

[2018-01-19 23:16] sirvon commented on #13
Now that there is discussion around Flowable, I understand what's going more.
Even NavigationItem isn't really fitting.

You said the Flowable is a helper to the Flow.
Its like a carry case for the flows thats about to happen or not.

And I can see how FlowBuilder is not fitting aswell.

FlowHelper, NextFlows, NextFlowable

the next part helps the understanding because the parameter names have nex

[2018-01-19 23:18] twittemb commented on #15
Hi @sirvon

As you can see in the last version of the branch 'develop', it is now NavigationItem.noNavigation.

I think it is more explicit, you can take a look at my blog for a detail explanation of all the concepts behind RxFlow (https://twittemb.github.io/swift/coordinator/reactive/rxflow/reactive%20programming/2017/12/09/rxflow-part-2-in-practice/)

To make it short it means that at some point

[2018-01-19 23:20] twittemb commented on #13
Could it be NextNavigationItem ?

[2018-01-19 23:22] sirvon commented on #13
that works, NextItems...
Navigation bothers me because of the other uses throughout iOS.
but the Next part for sure helps bring out what it does.

[2018-01-19 23:24] twittemb commented on #13
I agree about Navigation ... it could be misunderstood because of UINavigationXXX

NextFlowItem seems right no ?

[2018-01-19 23:25] sirvon commented on #13
thats its!

[2018-01-19 23:50] twittemb commented on #13
NextFlowItem is implemented on develop.

I close this issue ... again 😀

[2018-01-19 23:50] #13 closed

[2018-01-20 03:31] wsof401 commented on #13
@sirvon

Better than flowable, but also has various,  Item, Step are both like the minimum atom in work flow.
like @twittemb said, Naming is not easy,  `NextFlowItem` is OK
Shall we add a flow chat for describing each item‘s responsibility?

[2018-01-20 03:41] twittemb commented on #15
@sirvon

Is that ok with you ?

[2018-01-20 04:00] twittemb commented on #13
@wsof401

There is already a list of each concept in the Readme file, it should be enough to understand the whole thing don't you think ?

- **Flow**: each **Flow** defines a navigation area within your application. This is the place where you declare the navigation actions (such as presenting a UIViewController or another Flow)
- **Step**: each **Step** is a navigation state in your application.

[2018-01-20 12:45] sirvon commented on #15
wow! yes, sir!

[2018-01-20 14:55] #15 closed

[2018-01-21 18:29] PleaseDont opened #17 "`Flows.whenReady` not work."
Here's my `MainFlow.swift`:

[code]

And my `Podfile`:

[code]

I found that the function `whenReady` is not work, and did not throw any errors. But when I change pods to `commit: c488cdd` like this:

[code]

While changing `NextFlowItem` to `Flowable`, `noNavigation` to `noFlow`, it just works fine, and the console print `whenReady`.

I have checked the source code, but not find the reason.

Help

[2018-01-21 19:54] twittemb commented on #17
Hi @PleaseDont

I will take a look at that today. I will get back to you ASAP.

[2018-01-21 19:57] twittemb commented on #17
@PleaseDont

The commit "c488cdd" is the last commit that works for you ? you tried a more recent one ?

[2018-01-21 20:53] PleaseDont commented on #17
@twittemb
`d16e371` is OK, but not until `8c7123c`.

[2018-01-21 21:02] twittemb commented on #17
Can you give it another try on develop branch ? I just pushed a fix.

[2018-01-21 21:14] PleaseDont commented on #17
@twittemb
Well, it works again, thank you so much.
I learned a lot reading your source code, you did a amazing job, thank you for that.
And I'm looking forward to new version 1.1.😊

[2018-01-21 21:15] twittemb commented on #17
@PleaseDont

Cool, I'm glad to ear that. Sorry for the regression. This is the reason why I should write Unit Tests ... It will be my next task after V1.1

Bye.

[2018-01-21 21:15] #17 closed

[2018-01-21 23:17] twittemb commented on #17
@PleaseDont

Could you test your app with this branch -> feature/flattenSubscriptions

It is the next branch that I will merge in develop. As it performs some tricky refactoring in RxSwift subscription chains It would be nice if some (other than me) could give it a shot.

Thanks for your help.

[2018-01-22 03:12] PleaseDont commented on #17
@twittemb
Sorry, I just saw this.
I have tested with `branch => feature/flattenSubscriptions`, it seems working well, nothing wrong.

[2018-01-23 04:04] twittemb commented on #6
The PR has been merger.

[2018-01-23 04:04] #6 closed

[2018-01-29 14:28] beretis opened #18 "RxFlowDemo nested NavigationControllers"
Hi, first of all thank you for your afford and time creating this interesting library. After playing around  in RxFlowDemo I couldn't find a way how to "switch flows" without pushing them to the "MainFlow root".

I mean, in your app you have this structure:
UINavigationController (MainFlow)
--UIViewController(apiKey)
--UITabBarController (apiKeyIsComplete)
----UINavigationController(WishlistWarp)

[2018-01-29 21:34] twittemb commented on #18
Hi @beretis

Thanks for your feedback. It makes sense. Indeed, it could be interesting to be able to replace a Flow by another one.

I don't know it it is a good practice to replace the rootViewController of the UIWindow once it has been set a first time ? Do you have some feedback on this ?

I propose you 2 steps:
1 - Can you update to demo app to use the View Controllers hierarchy you suggest (U

[2018-01-30 17:58] pepejeria opened #19 "Version 1.1 not yet available for cocoapods?"
`pod update` gives me 1.0.4

[2018-01-30 17:59] #19 closed

[2018-01-30 17:59] pepejeria commented on #19
Sorry, that was incorrect, closing

[2018-01-31 04:11] sirvon opened #20 "What's the difference in these two navigate(to:) impl?"
Is it just merely style?

from: SettingsFlow.swift
[code]

from: MainFlow.swift
[code]

[2018-01-31 04:15] twittemb commented on #20
Hi @sirvon

Basically there is no difference in their behavior. SettingsFlow should be refactored in order to match the MainFlow style.

A PR is welcome :-)

[2018-01-31 13:37] #20 closed

[2018-02-01 14:58] beretis commented on #18
Hi @twittemb, great to hear back from you.
I created [https://github.com/RxSwiftCommunity/RxFlow/pull/22](PR22) where I implemented swapping root flows and edited DemoApp to have hierarchy according to our discussion.
It's just an idea, feel free to change things.

[2018-02-01 17:00] sirvon commented on #20
somewhat unrelated but, relevant to this func. Is there anyway to avoid passing data so many times or is that just style? like here:

[code]

[code]
[code]
[code]

same data being passed three times...how to minimize or does it matter?

[2018-02-01 17:35] sirvon opened #23 "Passing data throughout the Flow."
In this flow, in particular the func navigate(to:)
I'm passing data like, 3 times...

Is there anyway to avoid passing data so many times? like here:

[code]

This same data is being passed three times,

[code]
can you recommend or show an example of an RX way or a more efficient way to pass the data,
from the VC to the VM then to the Services/Data Providers/Networking, that need some
current user

[2018-02-01 20:50] twittemb commented on #23
Hi @sirvon. There are 2 questions here, I will do my best to answer clearly:
**1 - Passing data**
First thing first, to ease this process you could wrap your values in a data structure (such as a Struct) to lower the amount of parameters. In your case you could pass a "Coordinate" Struct that holds your 2 values.
Then I think it is a good thing to be the more stateless as possible. It means that p

[2018-02-01 21:22] sirvon commented on #23
very excited right now! stay tuned @twittemb

[2018-02-02 19:03] twittemb commented on #18
Hi @beretis

Thanks for your PR. I close this issue since our conversation will take place in the PR.

Thx.

[2018-02-02 19:03] #18 closed

[2018-02-06 16:32] Sajjon opened #24 "Temporary Flows which root which is neither presented nor pushed - how to dismiss?"
I want to show several **temporary** flows before I will show the `MainFlow` (user signed in and show the main screen in the app).

The `AppDelegate`'s `Coordinator` coordinates to the `AppFlow` in `application:didFinishLaunchingWithOptions`.

The `AppFlow` will then navigate to several temporary flows before `MainFlow`, where each Flow has several screens (steps)

Lets say that we have these flow

[2018-02-07 11:48] Sajjon commented on #24
@twittemb do you understand my question? :)

[2018-02-07 14:01] TobiasRe opened #25 "Global Stepper implementation"
I really like the `RxFlow` approach for separating navigation with flows.
Which works really well with navigating step by step as the user uses the app gets complicated with deep linking (e.g.: Navigating to ViewController after receiving a push notification).

**How do I implement a global stepper for deep linking?**
The `Stepper` should do the following:

1. Accept a specific `Step`
2. Select or

[2018-02-08 14:35] grafele opened #26 "`dismissed` observable triggered without view being dismissed"
Hey,

I really like your framework and we tried using it in one of our apps. Right now we are facing a problem when showing a simple alert view and because of that I started investigating what was going on in the framework and I think I found a bug in the `dismissed` observable causing multiple other problems.

How to reproduce:
Show an alert in an UINavigationController
Dismissing the alert leads

[2018-02-08 16:16] grafele commented on #26
I opened a pull request to resolve that issue: https://github.com/RxSwiftCommunity/RxFlow/pull/27

[2018-02-08 17:19] twittemb commented on #23
Hi @sirvon

Sorry for the delay. To learn more about RxSwift, you should definitely buy the book made by the Raywenderlich team: https://store.raywenderlich.com/products/rxswift

It is a little bit expensive but it worth it.

To make this Rx binding code more "elegant", some have tried to implement custom operators to be able to write:
myTextField ~> viewModel.myVariable

"~>" would mean "bind to"

[2018-02-08 17:19] #23 closed

[2018-02-08 17:43] twittemb commented on #26
Hi @grafele
Thanks for your feedback. I've just merge your PR, great job.
Do you have a precise idea of why my original code was not working ? I don't understand why the "dismiss" method was called as it was only the Alert that was dismissed, not the root ViewController.

[2018-02-08 17:52] grafele commented on #26
Hi @twittemb ! I think the AlertViewControllers buttons don't call the dismiss function on the AlertViewController but on it's presentingViewController. That leads to the exact same effect: The alert will be dismissed, but it triggered also the old 'dismissed' observable, because it listened on the dismiss method call on the view controller itself.

The documentation on apple side actually helps:

[2018-02-08 17:53] twittemb commented on #25
Hi @TobiasRe

Thanks for your feedback.

I think you could use the new "CompositeStepper" feature. In your AppDelegate you could something like that (adapt to your case of course)

[code]

**DeepLinkStepper** should be a custom Stepper that you have to write (just implement the Stepper protocol).

You will trigger your instance of **deepLinkStepper** when a notification is received (DeepLinkSteppe

[2018-02-08 17:55] twittemb commented on #26
Thanks for this explanation. It makes sense.

I close this issue as it has been resolved.

Thanks again, and feel free to contribute again ! help is always welcome.

[2018-02-08 17:55] #26 closed

[2018-02-08 18:04] grafele opened #28 "Child View Controllers with an own flow"
Hi!

I wanted to ask if child view controllers with their own flows are currently supported by RxFlow. If I understand the source code right, the FlowCoordinator won't be removed until it's parent was dismissed. I can think about cases where the parent won't be dismissed at all and we add/remove child view controllers continuously. That would lead to a situation with many FlowCoordinators lying ar

[2018-02-08 18:09] twittemb commented on #24
Hi @Sajjon

Sorry for the delay. Yes it makes sense. I'm currently thinking of a new feature that could fit your needs: A Flow could replace its parent Flow. But I'm still thinking how to do it the right way.

If you want to dismiss a Flow, you just have to dismiss its root ViewController (see the WishlistFlow in the demo app)

[code]

This code makes the WishlistFlow dismiss the SettingsFlow.

Yo

[2018-02-08 18:12] twittemb commented on #28
Hi,

A FlowCoordinator is removed when its associated root ViewController is dismissed. Indeed, if the root is not dismissed the FlowCoordinator will stay around.

Honestly, I have never tried RxFlow with Child ViewControllers. It is a good studying case. If I find a little time I will try it. If you try it on your side first, please come back to me within this issue.

[2018-02-08 18:16] grafele commented on #28
Ok, good to know. I plan to use it in our current project and I will create a pull request when I implement the necessary changes. I really like RxFlow!

[2018-02-09 02:09] twittemb commented on #28
Hi @grafele

I'd like to try this Child ViewController thing :-) Can you describe what you have in mind in terms of navigation between these Child ViewControllers a little bit ? We can compare our results at the end ...

thx.

[2018-02-09 02:37] twittemb commented on #24
Hi @Sajjon

Take a look a the demo app on develop. There is a AppFlow in which I replace the rootViewController of the UIWindow. That should help you.

Instead of displaying the SettingsScreen, you can instantiate a new Flow and display its root (use the Flows.whenReady function for that)

I hope this helps.

[2018-02-09 08:38] grafele commented on #28
Hi @twittemb

There are actually two things we need to add to get child view controller support:
1. Clean up should work with them as well. But that's super easy.
2. We need a way to pass the container view into the navigation step. It's already possible to add it to the enum case for that step, but I think we need a better abstraction there.

I would try to combine this with the case of popovers

[2018-02-09 15:01] TobiasRe commented on #25
Thanks @twittemb

Yes the `CompositeStepper` helps, if I including navigation to the corresponding sub flows in my `MainFlow`.
The issue that remains is how to handle deep linking on app start. Especially if the app needs some kind of bootstrapping/login before the app is ready to handle the deep link.

I guess the best to create an `Observable` where the deep link step is queued until the app is

[2018-02-12 12:35] Sajjon commented on #28
@grafele it feels like you are asking for something relating to what I am asking for in #24

[2018-02-12 14:20] Sajjon commented on #24
@twittemb Have you tried to implement several temporary Flows yourself? If you would have a look at https://github.com/Sajjon/RxFlowExample you will notice that this is not really straightforward now.

### The example project works but I get a nasty kind of warning 3 times

    This behavior breaks the grammar because there is overlapping between sequence events.
    Observable sequence is trying

[2018-02-12 15:30] Gruppio opened #29 "Add willNavigate: Observable<Flow,Step> and didNavigate: Observable<Flow,Step> to Coordinator"
Hi,
Currently the coordinator object has only 2 rx streams (willNavigate, didNavigate) that are specialized with 2 Strings that describes the Flow and the Step.
[code]
These are very useful for "Analytics purposes".

My idea is to add 2 more streams, that are basically the same but instead to have 2 Strings as specialized Types, they will have a Flow and a Step
[code]
These streams are very powerf

[2018-02-12 17:20] twittemb commented on #24
Hi @Sajjon
Thanks for this great feedback. I will take the time to read it with the attention it deserves. For now I will focus on the reentrancy issue since it is an obvious bug. I think it is due to the PublishSubject in the FlowCoordinator because it emits values inside its subscription.

I will do the test with you demo repo.

I think @dangthaison91 has the same issue of reentrancy, so it is a

[2018-02-13 09:30] Sajjon commented on #24
@twittemb Awesome, and THANK YOU for a really promising project! I feel very excited about this.

Sorry for my wall of text, it was not so well structured... Please let me know if you have any questions about writing about :P but I think maybe just looking at the project which is not too big, will make things more clear :)

[2018-02-16 23:47] sirvon commented on #29
Hey, whats your use case for this. Can you talk about or show some pseudo code to describe how what you implement with this added feature? I would love to possibly add it in my projects.

[2018-02-17 02:28] sirvon commented on #25
@TobiasRe

You're saying, like If a push notification comes in
and it requires login or some other Flow, before the user is taken to the screen/view, that the push notification pertains to, which might be in a different Flow from Login.

How to accept the user's action on that push notification, and then navigate to the Login/Bootstrap Flow, and then go to the Flow the push pertained to.....

@twi

[2018-02-17 08:02] sirvon opened #33 "Spice up Step enum."
Hey, in this [Example](https://github.com/Sajjon/RxFlowExample) by [@sajjon](https://github.com/sajjon)

I like the way he spices up the Steps enum.

[code]

when you're working with that enum
you type,

[code]

super clear!

Vs. the way original Steps

[code]

Is there anyway to introduce this into the frameworks,

theres some parts in this branch, [feature/onboardingFlow](https://github.com/RxSw

[2018-02-17 08:12] sirvon commented on #33
[](https://github.com/Sajjon/RxFlowExample)

[2018-02-17 08:23] sirvon commented on #33
I'm going to try my hands at a pull request on this.
tbh the simplicity of the original is compelling
but the agility in code the spiced up one gives you is
just better. i think its worth, since Steps are so crucial in this frameworks
Make Steps Sexy Again! Always, improve on Steps ability.

[2018-02-17 08:49] sirvon commented on #33
tbh, there has to be a way via [sourcery](https://github.com/krzysztofzablocki/Sourcery) to keep the creation of steps as simple. Just like the original design, but still
generate the other more instantly useful code to bring steps more alive.

Also tbh, I think steps should tie directly into some datastore or api, services etc.

The more i read the authors comments on Presentables and Steps
I thi

[2018-02-18 18:29] #33 closed

[2018-02-19 14:31] Gruppio commented on #29
Yes, suppose that some of your Flows are conform to this protocol
[code]

[2018-02-20 02:04] twittemb commented on #29
Hi @Gruppio @sirvon

I am not sure I see your point. Since the preNavigation is trigger each time a navigation occurs, the dependency will be injected each time as well ?

[2018-02-20 13:37] snowtema opened #34 "Type AppFlow does not conform to protocol Flow"
I cloned your example project, deleted Carthage support and created my own Podfile and tried to compile, but I occured an errors like this:
`Type 'WatchedFlow' does not conform to protocol Flow` and etc `Flow`'s
![2018-02-20 16 26 24](https://user-images.githubusercontent.com/24715092/36426755-36bbc50a-165c-11e8-85fc-a95210636e5a.png)

When I created a new empty project, linked pods, created my ow

[2018-02-20 18:28] Gruppio commented on #29
Hi @twittemb @sirvon
Yes with the code that I have posted, but this can be easily avoided with a nil check :-) .
I think that the point is to have the ability to inject dependencies from outside.
In this way each flow easily became also a container for the dependencies needed by his child ViewControllers or ViewModels.
With this approach you can avoid global variables or ".shared" singletons, and

[2018-02-20 19:14] twittemb commented on #34
Hi @snowtema

Can you try to clone this repo: git@github.com:twittemb/RxFlowPodsDemo.git

and do a "pod update / pod install" ?

[2018-02-21 03:14] twittemb commented on #24
@Sajjon just to let you know I've not given up on this subject ... I'm just very busy right now but I have begun to work on a dedicated branch to test a swap feature between 2 flows.

Stay tuned.

[2018-02-21 07:58] 1397v commented on #34
I'm having the same issue using Carthage:
![image](https://user-images.githubusercontent.com/7044976/36468571-26d806de-16e4-11e8-8069-9d48b7efe4d7.png)

And when I use the help from Xcode it adds this:
![image](https://user-images.githubusercontent.com/7044976/36468597-3bd9b5c8-16e4-11e8-81fd-6f8fe7d87e1e.png)

[2018-02-21 08:36] snowtema commented on #34
Hi @twittemb !
Thanks for your feedback!

Yes, your code compiles fine. But if I change the type of **var root: Presentable**, I have the same error. Why I can't use **Presentable** protocol?

[2018-02-21 09:03] Gruppio commented on #29
I've created the PR #31 Some days ago

[2018-02-21 09:09] 1397v commented on #34
Update: I changed the AppFlow as follows:

[code]
And in the places the window was used inside `AppFlow`:
[code]
And:
[code]

Then, in the `AppDelegate` I had to change:
[code]

Finally, when everything compiled, I got this error:
![image](https://user-images.githubusercontent.com/7044976/36471595-473f4256-16ef-11e8-8bae-370121300d28.png)

[2018-02-21 09:30] snowtema commented on #34
@1397v I haven't skill in Carthage, but I think your problem in wrong project settings for this framework, f.e. search path or other stuff.

[2018-02-21 09:33] 1397v commented on #34
@snowtema the version I am using is the last one:
![image](https://user-images.githubusercontent.com/7044976/36472595-91a98d1c-16f2-11e8-88c7-5ee4fe0ce075.png)

[2018-02-21 14:05] twittemb commented on #34
@snowtema

In the version 1.1.0 the Flow protocol declares a UIViewController as its root. The Presentable conformance is only on "develop" right now.

[2018-02-21 14:17] snowtema commented on #34
@twittemb

Ok, thanks! When do you want to release current **develop** version? Will this version with major changes?

[2018-02-21 14:43] twittemb commented on #34
@snowtema

I have no precise date for the next version. This will be a 1.2.0 with some important features such as Flow replacement.

[2018-02-21 14:43] twittemb commented on #34
@1397v

Can you try to clone this and give it a try: git@github.com:twittemb/RxFlowCarthageDemo.git

[2018-02-21 14:59] twittemb commented on #29
@Gruppio

Hi. Sorry for the delay. I've been really busy lately. I think your proposal is a good one and will be part of the next release. My concern was about memory leak since Flow and Step will be given to a closure and I am not sure the developers won't be retaining them.

I think you should modify your PR to replace the actual will(did)Navigate(String, String) by will(did)Navigate(Flow, Step)

[2018-02-21 15:38] Gruppio commented on #29
Great!
I will change it! no problem 👍

Thank you :-)

[2018-02-21 20:18] Gruppio commented on #29
PR #35

[2018-02-21 23:58] twittemb commented on #29
@Gruppio your PR has been merged !
good job.
Thanks.

[2018-02-21 23:58] #29 closed

[2018-02-22 09:00] 1397v commented on #34
@twittemb Yeah it works, but that demo only has 2 views and I intended to test the flow in a more "complex" architecture like the one in the demo because I intended to use this framework in a complex project.
For now I think I will build another navigation architecture and wait until RxFlow is stable. But thanks anyway.

[2018-02-22 12:46] TobiasRe opened #36 "Remove nested frameworks"
The RxFlow framework should not contain nested frameworks!
At the latest during submitting to the AppStore, developers will prompted errors that RxFlow contains illegal nested frameworks.
To fix that disable the `Copy Carthage Frameworks` build phase for the framework.

![bildschirmfoto 2018-02-22 um 13 30 54](https://user-images.githubusercontent.com/2148814/36538723-ca798006-17d4-11e8-8f93-8bb9e

[2018-02-22 14:34] Sajjon commented on #24
@twittemb Great, looking forward to it!

I am a heavy user of `Swinject` and especially [SwinjectAutoregistration](https://github.com/Swinject/SwinjectAutoregistration) which plays nicely with RxFlow. I can then achieve this syntax in my `Flow` method `func navigate(to step: Step) -> NextFlowItems `:

[code]

With some Helpers:
[code]

Where `Screen` is my "abstract" `UIViewController` which can c

[2018-02-22 15:49] twittemb commented on #36
hi @TobiasRe
thanks for this feedback. I have just push a fix en develop for that. Can you give it a try ?
thanks.

[2018-02-22 20:36] snowtema commented on #34
@twittemb Hello! I'm stuck again with Flow protocol. I need to implement **SplashViewController**, but when I declared `class SplashFlow: Flow { }` with `var root: UIWindow`, I have the same error. Can current release of **RxFlow** use **UIWindow**  in **root** for navigation flow?

[2018-02-23 03:20] twittemb commented on #34
Hi @snowtema
I have just release a version 1.2.0 on CocoaPods that handles that case.
Can you give it a try ?
thanks.

[2018-02-23 03:26] twittemb commented on #24
@Sajjon @dangthaison91

Hi guys, I did have a look (very quick) to your repos. I think the reentrancy issue comes from the fact the you trigger new Steps directly inside some Flows.

If you take a look a the Coordinator code, you will see that the "navigate(to:)" func is called pretty early in the Rx subscription chain and when you fire a new Step the current subscription has not reached the end o

[2018-02-23 07:17] dangthaison91 commented on #24
You are right @twittemb . I will try to remove Step adoption for Flow.
Other way, while using RxFlow, I see your implementation is flexible but I want a better document or one way to help users avoid using it in wrong way.

[2018-02-23 10:33] snowtema commented on #34
@twittemb Thanks a lot! Your library is amazing! =)

[2018-02-24 04:37] twittemb commented on #34
Thanks for your feedback.

Is it OK to close this issue ?

[2018-02-24 04:38] twittemb commented on #36
Hey @TobiasRe

Did you have time to submit your app again ?

[2018-02-24 09:05] TobiasRe commented on #36
Yes I can confirm. This issue is resolved on the master branch.

[2018-02-24 09:25] #36 closed

[2018-02-24 11:49] Sajjon commented on #24
@twittemb Thank you for commitment :) I really appreciate all help!

I must be stupid... but I still do not understand how I would implement what I want without letting the `Flow` also be a `Stepper`s.

I will make an attempt to be as concise as possible, by using example code so that it is clear what I need help with, in a nutshell, this is what my `AppDelegate` looks like:

[code]

So the *root*

[2018-02-24 11:51] Sajjon commented on #24
@dangthaison91 @grafele @TobiasRe If you have the time, please read my question above ⬆️ how did you solve this scenario? :)

[2018-02-24 22:31] twittemb commented on #24
@dangthaison91, I agree with you about te document that could prevent the developper to mis use RxFlow. Do you think you can amend the Readme in that way and make a PR ?

[2018-02-25 16:40] snowtema commented on #34
@twittemb Yeah, version 1.2 working properly. The issue is not actual anymore.

[2018-02-25 16:55] twittemb commented on #34
👍

[2018-02-25 16:55] #34 closed

[2018-02-27 10:54] dangthaison91 commented on #24
@twittemb I tried to remove Step in `HomeFlow` implementation but still got Reentrancy warning. Please take a look at https://github.com/dangthaison91/RxFlowDemo.

I think we should try to implement FlowCoordinator again from scratch and try another approach.

@Sajjon I think basically I'm trying to do like you but also having some issues.

[2018-03-01 13:03] benjohnde opened #37 "Flows.whenReady -> variable naming"
I just wondered if there exists a specific reason for naming the variable in the function `Flows.whenReady` `flow1` and not just `flow` for convenience? :)

I fully understand the notion when it comes to more than one flow.

We wrote a very little extension for that, cause we found it fresher to read:

[code]

[2018-03-01 15:00] benjohnde opened #38 "Docs"
Are the docs hosted anywhere? Haven't found the place yet :)

Btw really nice library, love how it helps to reduce the boilerplate in our platform.

[2018-03-01 15:43] twittemb commented on #37
Hi @benjohnde

Thanks for your feedback. I must say that at first I had named this function the way you wish (flow instead of flow1) ...

I changed it just for Xcode to present the autocompletion in the right order :-(

Changing it now would be a breaking change for developers who already use RxFlow :-(

We could add the new signature beside the existing one but it would be weird to have 2 functio

[2018-03-01 15:45] twittemb commented on #38
Hi again @benjohnde

The Readme is a good start :-)

There are also 3 blog posts here: https://twittemb.github.io (RxFlow Part1 / Part 2 / Part 3). This blog also hosts several articles of mine about conception patterns.

Does that help ?

[2018-03-01 15:53] benjohnde commented on #38
Ah, right now I do not need any help, but spotted the docs directory and wondered if those are hosted anywhere :) I found them useful (so cloned the repo and opened the index).

[2018-03-01 16:00] benjohnde commented on #37
That's a very good reason for naming the function as they are right now. Thanks for pointing that out.

![untitled](https://user-images.githubusercontent.com/5439810/36854473-6321323a-1d71-11e8-97ae-00ef724d87b4.png)

That's how it looks in my Xcode. Well, for sure opinions will differ and mine is very weak, but for us using:

[code]

is enough and quite precise.

Is there an actual need or an adv

[2018-03-01 16:03] twittemb commented on #38
The docs directory is local to the projet (made with Jazzy). But you're right about hosting it somewhere. I will put it on my blog and add a link in the Readme.

👍

[2018-03-01 16:11] twittemb commented on #37
There is one real advantage to use ones with flow1, flow2, ... instead of the [Flow] array.

You can take advantage of generic functions and type inference. For instance you could write:
[code]

As you know the types of each flow roots, you can "force" the compiler to give it back to you in the parameters.

In the "array" signature, You will just know that roots are UIViewController (or a subtype)

[2018-03-02 03:48] twittemb commented on #38
Hi @benjohnde

The doc is now available online: http://community.rxswift.org/RxFlow/

If you agree with that I will close this issue ?

[2018-03-02 03:51] twittemb commented on #37
Is it ok to close this issue @benjohnde ?

[2018-03-02 08:12] benjohnde commented on #38
Yeah for sure, thanks a lot!

[2018-03-02 08:12] #38 closed

[2018-03-02 09:02] benjohnde commented on #37
We do not use UITabBarController and for us it is (well, at least until now) absolutely sufficient to use UIViewController on root for presenting/dismissing views. But I can see where you are coming from, thanks for the insights. Absolutely, this one can be closed.

[2018-03-02 09:02] #37 closed

[2018-03-02 09:44] TobiasRe commented on #25
This feature is currently on hold for me.
There are serious memory management issues with RxFlow to fix first.

I can create a PR when the `Deeplink Stepper` implementation is done.
Let's close this for now.

[2018-03-02 09:44] #25 closed

[2018-03-02 17:02] sirvon commented on #25
@TobiasRe please make an issue or talk about the memory issues

[2018-03-03 20:45] sirvon opened #40 "Serious Memory Management Issues"
A comment was left by @TobiasRe on this issue #25, about...

`There are serious memory management issues with RxFlow to fix first.`

Can anyone with production/ or app store release experience with this framework,
comment about any memory leaks they've discovered.

Thanks

[2018-03-03 21:56] TobiasRe commented on #40
Hi @sirvon
To explain the problem I'm referring to:

My ViewControllers are retained by RxFlow. Every transition to a new step causes an increase in memory use. Even the navigation to a detail ViewController, back to the list, open same detail ViewController causes this result.

My navigation hierarchy is like this:
`UINavigationController (MainFlow Root) -> UITabBarController (containing multiple

[2018-03-03 23:25] TobiasRe commented on #40
So far I can tell that the `rxDismissed` Observable is not working as expected.

@twittemb Did you test this feature?

[2018-03-04 02:33] twittemb commented on #40
Hi guys,

Can you try your apps with the branch feature/onboardingFlow.

Basically there are 3 things new here:
- the way FlowCoordinators are cleared is better (and Threadsafe)
- there is a new NextFlowItems type -> .end(withStepForParentFlow:Step). It allows to end a sub flow and tells its parent on which step to go on
- the demo app has been updated to show an example of root flow swapping ...

[2018-03-04 14:44] twittemb commented on #40
@TobiasRe hi

Can you be more precise about the rxDismissed malfunction ? From What I see there is no such leak on the demo App. Recently the behavior of the rxDismissed Observable has been changed because there was an issue with Alert popups.

[2018-03-05 11:23] Dimentar commented on #40
Hi guys.
From first implementation in my project I also had some memory issues, but the problems was not with **RxFlow**.
What I've noticed was:
1. Never instantiate **ChildFlow** with `rootViewController` of **ParentFlow** from which you will present some `childViewController`, `rootViewController` being part of **ParentFlow** will not trigger `rxDismissed` during dismissing of `childViewControll

[2018-03-07 02:41] sirvon commented on #40
@dimentar Can you post some example code or an example repo?

[2018-03-09 13:31] Dimentar commented on #40
Hi guys.
@sirvon [RxFlowMemory](https://github.com/Dimentar/RxFlowMemory), you will find 3 mode of flow allocation (with/without memory issues)

[2018-03-09 13:50] twittemb commented on #40
Hi @Dimentar

Thanks a lot for your examples. I have on question: why do you have to pass the root viewController to the ChildFlow ?

[2018-03-11 20:37] Dimentar commented on #40
Hi @twittemb.
On my first attempt at RxFlow implementation, in one use case, I've tried to pass `UINavigationController` (_root_ of **ParentFlow**) to **ChildFlow** from which I presented modally another VC (bad idea). However, I've noticed memory leaks, whats why I don't recommend to pass it to the **ChildFlow**.

An important rule to follow is: Never pass _root_ of **ParentFlow** to **ChildFlow*

[2018-03-15 12:43] eroth opened #42 "Bundle returning target reference instead of module reference"
Hi, first off—thanks creating RxFlow! I'm using it for the first time and it looks pretty good so far.  I'm running into a weird issue that seems to be linked to returning a view controller as a `NextFlowItem` in a flow.  If I try to load a nib programmatically at any initial stage of the view controller lifecycle (`viewDidLoad`, `viewWillAppear`, and `viewDidAppear`) and attempt to get a referenc

[2018-03-15 17:08] twittemb commented on #42
Hi @eroth, thanks for your message.

I did some tests (according to different syntaxes I found on StackOverflow) and I always have the same result (the bundle from the .app). I have no other clue to help you.

What is your workaround ?

[2018-03-15 19:23] eroth commented on #42
Thanks for looking into it! Our workaround is just to hardcode the bundle identifier string and use that when getting a reference to the bundle we want.  I’ll see if I can reproduce this issue in a sample project.

[2018-03-16 11:48] oscarsilver opened #43 "Handling Deep Links"
Hello!

I am trying to get Deep Linking to work with RxFlow. I have an `AppStepper` that has a method `attemptNavigation(to:DeepLinkable) -> Bool` which gets called for example when a link with the apps URL scheme is clicked:

[code]

My `AppStepper` implementation looks as follows where `DeepLinkService` is responsible for converting `DeepLinkable` items to `Step`:

[code]

Then I have the tabBar

[2018-03-19 18:54] Sajjon commented on #24
@twittemb I am closing this issues since RxFlow supports this scenario in version 1.3 using `end(withStepForParentFlow:`

[2018-03-19 18:54] #24 closed

[2018-03-20 14:54] twittemb commented on #42
hi @eroth

Can I close this issue, as this seems to be an issue not related to RxFlow in particular and since you have a workaround ?

thanks.

[2018-03-20 14:55] twittemb commented on #40
Hi here,

Can we consider this issue resolved since @Dimentar has provided an example of good practices ?

thanks for your feedback.

[2018-03-20 21:17] eroth commented on #42
@twittemb,

Hi, if it's ok with you do you mind if it stays open a little longer? I wanted to see if I could repro it in a project that I could make publicly available.  It does only occur when we use RxFlow.

Thanks,
Evan

[2018-03-20 21:20] twittemb commented on #42
Of course it's ok with me. If you find the cause of this issue it is something I definitely want to know 👍

[2018-03-20 21:23] eroth commented on #42
Great, thanks—I’ll try and put together a project by this weekend.

[2018-03-20 22:24] dmanuelcl opened #44 "RxFlow stops working if a UIAlertController is presented by a flow's root"
Hello, first of all congratulate you for your excellent work with RxFlow, I am integrating it in my project and the problem is given when the UIViewController root of a flow presents a UIAlertController, after the UIAlertController is dismissed these lines are executed in **Coordinador.swift**
<img width="1227" alt="captura de pantalla 2018-03-20 a la s 6 18 07 p m" src="https://user-images.github

[2018-03-20 22:28] #44 closed

[2018-03-21 15:45] dmanuelcl opened #45 "Root window emit the completed event immediately after be shown"
Hi in my current project I need to swap between 2 Flows attached to the root Window, in the main flow I keep checking the user signing status to decide if in need show one flow or other , but when I try to swap between flows the steps emited from the main flow are ignored becouse the ``` window.rxVisible``` emit ```completed``` just after the window become keyAndVisible so the cordinator ignores t

[2018-03-21 15:55] twittemb commented on #45
Hi @dmanuelcl

Have you checked the demo app because this is what I do in it -> switching between 2 flows for the UIWindow.

[2018-03-21 16:10] dmanuelcl commented on #45
HI @twittemb
Thanks for your quick response, based on the demo is that I am implementing this functionality in my project, below fragments of my code

**AppDelegate**

[code]

**MainFlow**

[code]

if the user's session changes, update the flow to show the corresponding views, everything works at the first moment and the correct flow is shown, if in the future the user's status changes, the step i

[2018-03-25 03:56] Derek-X-Wang opened #47 "Reentrancy anomaly was detected rxflow"
I received this warning whenever I nav to`NextFlowItems.end(withStepForParentFlow: MZStep.XXX)`

[code]

I have looked #24. But I didn't trigger step inside flow.

My Flow is simply modified version of RxFlowDemo

AppFlow.swift
[code]

OnboardingFlow.swift
[code]

MainFlow.swift
[code]

Also, I noticed willNavigate is not triggered after NextFlowItems.end.
For example, if I signin
[code]
Not sure

[2018-03-25 15:01] dmanuelcl opened #48 "flow deallocation when return .end on navigate(to:)"
“Fatal error: Attempted to read an unowned reference but object 0x1c42d11e0 was already deallocated” is thrown when a child flow returns .end(withStepForParentFlow: step) on navigate(to:)

I have detected that the problem is caused by this line of code
[code]
In the following code snippet

<img width="1247" alt="captura de pantalla 2018-03-24 a la s 5 43 06 p m" src="https://user-images.githubuser

[2018-03-25 21:00] twittemb commented on #48
Hi @dmanuelcl
Thanks for your feedback.

Could you provide the code (both the parent and child flows) that causes this error please ?
The code seems to work fine in the Demo App and I'd like to be able to reproduce this issue easily so I can check your PR.

Thanks again.

[2018-03-25 21:55] twittemb commented on #48
Hi again.

I think your PR is a little bit too violent by commenting
[code]

because there are certain cases where the root ViewController of a Flow is not explicitly dismissed (see the Onboarding Flow of the demo app). So we have to explicitly unretain the FlowCoordinator by calling self.delegate.endFlowCoordinator(...)

I have just pushed a fix on develop.

Can you give it a try with your app an

[2018-03-25 22:03] twittemb commented on #43
Hi @oscarsilver

Sorry about the delay :-( Deep linking is a question that has come several times. I will (I promise) think about an elegant solution to address this issue !

In fact this is my very next task in terms of enhancements.

In the meantime if you have nice ideas, let me know 👍

[2018-03-25 23:01] twittemb commented on #45
Hi @dmanuelcl

Thanks for this feedback. Indeed this is a potential issue. I cherry-picked the commit that fixes that in your PR: https://github.com/RxSwiftCommunity/RxFlow/pull/46
Unfortunately I couldn't merge your PR because the develop branch history has been overwritten since your PR, there were conflicts). But your code is in develop now.

Although there was an issue, I think you shouldn't s

[2018-03-25 23:27] twittemb commented on #47
Hi @Derek-X-Wang

Thanks for your feedback. Reading your code, I don't see any reason it would cause a reentrancy error. As you said, you don't fire a new Step outside of the NextFlowItems mechanisms, plus, your code is pretty similar to my demo app !

Could you provide a demo application on your Github so I can take a deeper look ?

thanks.

[2018-03-26 01:59] Derek-X-Wang commented on #47
Hi @twittemb

Thanks for replying!

Here is the [demo](https://github.com/Derek-X-Wang/Demo-RxFlow-Issue-47)

I use pod, so `pod install` after the download pls

Thanks

[2018-03-26 02:11] twittemb commented on #47
Great @Derek-X-Wang

I will take a look at it ASAP and keep you informed.

[2018-03-26 11:50] dmanuelcl commented on #48
Hi @twittemb

I think this solution can work, I'm going to try it on my project, thanks

[2018-03-26 11:55] dmanuelcl commented on #45
I'm going to check what you tell me, but I have to adjust to the design and flow defined, likewise the transition between flow I do it with animation, thanks for the suggestions

[2018-03-26 11:56] #45 closed

[2018-03-26 12:52] twittemb commented on #48
Hi @dmanuelci

Thanks. I’m looking forward to hearing from you !

[2018-03-26 23:59] twittemb commented on #47
Hi @Derek-X-Wang

I pushed a v1.3.1 that should fix the reentrancy issue. Can you confirm that ?

thanks.

[2018-03-27 02:08] Derek-X-Wang commented on #47
Hi @twittemb,

Awesome! The warnings are all gone!

Thanks a lot for your awesome project! :)

[2018-03-27 02:08] #47 closed

[2018-03-28 10:25] mariohahn opened #50 "tvOS, watchOS, macOS Support"

[2018-03-29 23:46] #40 closed

[2018-03-30 13:43] #48 closed

[2018-03-30 13:44] dmanuelcl commented on #48
Hi @twittemb, now is working thanks

[2018-03-31 18:36] El-Fitz commented on #48
For some reason, I have the same issue on release 1.3.1
I just replaced all my .stepNotHandled with .end(withStepForParentFlow: step) after updating

What should I / can I do ?

[2018-04-02 16:42] El-Fitz commented on #48
So, this is the navigate(to step: Step)  function of the flow that is being dismissed:

	func navigate(to step: Step) -> NextFlowItems {
		guard let step = step as? SpotrStep else { return .none }

		switch step {
		case .search:
			return self.navigationToSearch()
		case .tagSelected(tag: let tag):
			return self.navigationToSpotsList(tag: tag)
		case .placeSelected(place: let place):
			return s

[2018-04-02 16:54] El-Fitz commented on #48
And now that I reimplemented it, it doesn't crash anymore. Guess there was something wrong with the way I did it before ? Damn. Thanks anyway ! :-)

[2018-04-02 16:56] twittemb commented on #48
Hi ... Glad all is fine !

Thanks for your feedback, it is always appreciated !

See ya !

[2018-04-03 12:45] twittemb commented on #42
Hi there

Any updates about this issue ?

Thanks.

[2018-04-03 20:16] eroth commented on #42
Hi, I started to put together a project to repro it but haven't finished yet.  I don't want to keep the issue open too long, so if you'd feel better closing it please feel free to. I should be able to finish it by this weekend, though.

[2018-04-03 20:18] twittemb commented on #42
No It is ok to leave it open. No rush.

See ya 👍

[2018-04-09 12:32] twittemb commented on #42
Hi

Thanks for your feedback. I'll take a look as soon as I have a little time.

Bye.

[2018-04-09 19:48] eroth commented on #42
Sounds good—thanks!

[2018-04-24 18:52] savage7 opened #51 "UIAlertController Handling"
I'm starting a new project and I try to use RxFlow 😃

I cant find a simple solution how to best handle UIAlertControllers, without a taste of over engineering my flows. Can you give me some advise how to best handle them?

- Do you create a general Step like "openAlert(title, message, actions)"? This could be implemented in all flows (or some kind of base class).
- Do create a step per alert?
- Do

[2018-04-24 22:56] twittemb commented on #51
Hi @savage7, thanks for reaching out.

Although we could consider a dedicated func in a some kind of base flow to build a UIAlertController, I think displaying an Alert box is not really part of navigation ... it's like displaying or not an hidden View in a ViewController to me.

To keep it simple and stupid, I think I would handle the UIAlertController in the ViewController itself.

It would be d

[2018-04-25 05:30] savage7 commented on #51
Thank you for you answer!

Yes I understand your point and I share your opinion, the simplest solution is to do it in the ViewController.

I thought it would be good to move all the present/dismiss calls out of the ViewControllers but in the end  that to complicated for the benefit...

[2018-04-26 11:43] #51 closed

[2018-05-02 04:22] mfcollins3 opened #53 "NoneStepper question"
Hi. I just recently started looking at RxFlow and have a question. I see that in RxFlow/Stepper.swift that there is a class named `NoneStepper`, but that class is not public. I had a case tonight where I wanted to pass an empty `Stepper` object. I don't see that class being used anywhere in the framework. It seems weird to be private to the framework and not exposed. Is it meant to be public?

Gre

[2018-05-02 14:31] twittemb commented on #53
Hi @mfcollins3
thanks for your feedback.
What is your need to pass an Empty stepper ? because if you pass an empty stepper it means that you consider you don't want to have any further navigation for your "presentable". In that case you just have to return a NextFlowItems.none value.
Does it help ?

[2018-05-02 14:38] mfcollins3 commented on #53
I hadn't thought of `NextFlowItems.none` when I was looking at it.

As I'm developing my app, I'm putting in RxFlow incrementally and I wanted to display my view controller without having anyplace else for it to go until I build the next part, if that makes sense. That's why I was looking at the empty stepper.

Thanks for your reply.

[2018-05-02 14:38] #53 closed

[2018-05-02 14:40] twittemb commented on #53
@mfcollins3
No problem.
Take a look at the demo app ... there is almost every kinds of navigation there !

[2018-05-25 13:32] snowtema opened #56 "The best practice to handle nested flows"
My app has tab bar navigation with two tabs (Profile and Feed).

**AppFlow** class implement code for tabBar:

    class AppFlow: Flow {
        var root: Presentable {
            return self.rootWindow
        }

        private let rootWindow: UIWindow!
        private let tabBarController: UITabBarController!

        init(with window: UIWindow) {
            self.rootWindow = window

[2018-05-26 13:57] twittemb commented on #56
Hi @snowtema

Let me think about it and i'll get back to you ASAP (today or tomorrow).

Thanks.

[2018-05-28 11:52] snowtema commented on #56
@twittemb thank you

[2018-05-31 10:16] snowtema commented on #56
Hi @twittemb!
Do you have any ideas?

Thanks.

[2018-06-01 20:01] twittemb commented on #56
Hi @snowtema

Sorry for the delay, I've been busy lately. Can you try something with the last 'develop' version ?

I think your approach with the .end(withStepForParentFlow: MyStep.openProfileTab) was the good one. But internally, RxFlow stops listening to the current flow (your FeedFlow) once it emits a .end().

I have added a new value for NextFlowItems -> .triggerParentFlow(withStep:) that allo

[2018-06-05 19:00] twittemb commented on #56
Hi @snowtema

Have you tried the solution I suggested ?

[2018-06-06 10:13] snowtema commented on #56
Salute @twittemb,

Sorry for late answer. Yeah, it works fine, exactly what I want!
Thanks a lot for response and quick improvements. 👍

[2018-06-07 16:15] dongyuan opened #57 "navigate(to) fired multiple times"
The navigate(to) fired multiple times if the nextStepper is set by a shared insance.
please check below code. The screen1 presented as expected, but when the viewModel set the state to the screen2, the navigate(to:) fired twice. It means the screen2 was pushed twice into the navigation stack.

[code]

[2018-06-08 09:31] dongyuan commented on #57
It turns out the ViewModel implement was not right, not RxFlow bug.

[2018-06-08 09:31] #57 closed

[2018-06-12 01:50] chrismays commented on #57
@dongyuan I'm curious as to what you were doing wrong in your ViewModel. I'm running into this same error, but I can't for the life of me see what is wrong in my code.

[2018-06-18 11:50] dongyuan commented on #57
@chrismays, sorry for the delayed response. hopefully, you have already sorted it out.
in my SharedViewModel init I have put an initial step, such as
`class SharedViewModel: Stepper {
init() {
step.accept(.initialStep)
}`
after I remove the step.accept(.initialStep) from the constructor, everything works fine.

[2018-06-27 13:38] yudinm opened #60 "self.step.accept() not working while [pushViewController animated:true]"
Hi. In our project we are trying to handle network errors in `viewModels` like that:

[code]

In Flow we are using that code for pushing controller:

[code]

So, error throws in the middle of animation of pushing view controller and `step.accept()` did not work. On the other hand, when we are pushing VC without animation (`self.rootViewController.pushViewController(taskViewController, animated: fa

[2018-06-27 14:19] twittemb commented on #60
Hi @yudinm

I Have a few questions:
- In the TaskViewModel, the network call is done in the init function ?
- Is there an error message or it is just not working ?

My take on this -> the MySteps.auth step is triggered too soon (because the call is done in the init function) and is catched by your Flow whereas the animation is not finished yet. Then your Flow triggers a new navigateXXX function (b

[2018-06-27 16:42] yudinm commented on #60
Thank you for quick answer.

No. Network call done in viewDidLoad.

No error. Just did not go to coordinator.rx.willNavigate/didNavigate and so on. Also i try to subscribe on .step in network error handler and see that:
[code]

[code]

Checked calls in VC. Found, that network call triggered by `let viewWillAppear = rx.sentMessage(#selector(UIViewController.viewWillAppear(_:))).mapToVoid().asDriver

[2018-07-01 18:49] mfcollins3 opened #61 "Pattern for unit testing flows?"
I'm using RxFlow in my app, and I'm admittedly behind on my unit test plans. I'm trying to catch up and create unit tests for my flows. When creating a unit test for the `Flow.navigate(to:)` method though, I'm seeing that there's no good way to really test the result. I can test whether the `NextFlowItems` result is `one`, `none`, or `many`, but there's no way to test to validate that the right fl

[2018-07-02 00:31] twittemb commented on #60
Hi @yudinm

In order to help you efficiently, It would be great if I could see a bigger part of your code base ... but I assume it is not open source :-( so I will try to give you some insights:

**Why VC lifecycle matters ?**
The only reason RxFlow "listens" to your ViewControllers lifecycle is to be able to restrain the effects of a Stepper to the VC (and the Flow) that is currently displayed. T

[2018-07-02 01:00] twittemb commented on #61
Hi @mfcollins3

Give it a try on the develop branch. I have set nextPresentable and nextStepper public (read only)

Moreover, have you tried to use Coordinator.rx.did/willNavigate Observables to monitor which flow/step is being coordinated.

[2018-07-04 21:12] twittemb commented on #60
@yudinm how is it going with yours flows ?

[2018-07-04 21:13] twittemb commented on #61
@mfcollins3 hi, any update ?

[2018-07-05 01:33] twittemb commented on #61
Great news @mfcollins3.

Thanks for using RxFlow 👍

[2018-07-05 01:33] #61 closed

[2018-07-06 10:07] yudinm commented on #60
Hi. Sorry, appeared tasks not related to the Flows.

With VC lifecycle – it's clear.

With connection state we'll use your way, probably. Thank you.

For now we just added extension to ObservableType:
[code]

And in ViewModels implement protocol:

[code]

Anyway error handling is a future task in current app.

I would like to add, that ViewControllers as a Stepper mixed with ViewModels as a Steppe

[2018-07-06 11:21] twittemb commented on #60
Thanks for your feedback. You're totally right about ViewModels being the best candidate for Stepper.

If i may make a suggestion, it feels like your extension to ObervableType is doing something very similar to the built-in do(onError) function. Is there a reason you don't use it ?

[2018-07-09 11:24] edon2005 opened #62 "Few source of stepper..."
Hi Guys,

Thanks for your framework!
And I am a little confused how to solve a problem:
I have a MainViewController with child view controller inside.
Also the main ViewController have a top left button clicking on showed LeftMenu.
the problem is next: user can click on buttons inside child view controller that should set next step,
and user can click on buttona inside left menu, that should set t

[2018-07-10 23:02] twittemb commented on #62
Hi @edon2005

Thanks for you feedback. Is it possible to have a look at your code or some parts of your code ?

[2018-07-11 09:07] edon2005 commented on #62
@twittemb First of all BIG thanks for answer.

I used your comment and change my code. At first it did not worked. When I set OneStepper as first element - it began to work. So 2nd element did not called. 1st element of CompositeStepper - called. I dont know why. Maybe it should so.

Right now my code looks like:
``
class DashboardFlow: Flow {
    private lazy var rootViewController: UINavigationC

[2018-07-16 01:18] twittemb commented on #60
@yudinm

Can I close this issue ?

Thanks.

[2018-07-16 11:13] yudinm commented on #60
Yes. Thanks! You may close.

We like to make extension, because we do not want include "big" block in chain. We will call `.handleError(self)` in chain. And implement enum of error handlers somewhere outside of ViewModel.

[code]

[2018-07-16 11:13] #60 closed

[2018-07-17 01:29] twittemb commented on #62
Hi @edon2005

I think there is 2 ways to address you problem:

1st solution:

Having a left menu is a little bit like doing a master/detail. Just take a look at what I did in the Settings part of the demo application in the Repo. The master view (your left menu) is declared as a Stepper, and the Detail view (your Child view controller) is declared as a Stepper as well and in the first navigate(to:

[2018-07-18 07:20] edon2005 commented on #62
Thank you very much for answer and your advices.
Regarding Flow's lifecycle - maybe it needs to kill flow when parent flow is triggered without special NextFlowItems.one(triggerParentFlow) ?

[2018-07-31 22:12] twittemb commented on #62
Hi @edon2005

May I close this issue ?

[2018-08-01 06:56] edon2005 commented on #62
Yes, Thanks you :)

[2018-08-01 12:47] #62 closed

[2018-08-14 13:58] iOSDevFin opened #67 "Navigate to next item within a flow"
Hi there,

I was wondering if it is possible to navigate to the next flow item with a simple call like step.next. As far as I know and tried out several things, I always have to know what the next step should be. We have a big onboarding navigation where we just want to set the order of the steps within the step enum and then just want to call step.next or something similar.

Any ideas?

Many than

[2018-08-16 04:02] twittemb commented on #67
Hi @iOSDevFin

Thanks for reaching.

You could have a generic step (AppStep.next) and trigger it in every stepper of your Flow -> self.steps.accept(AppStep.next).

You would have to handle the state of your onboarding within your Onboarding flow in order to know what to do when you receive .next in the navigate function.

You could even do an extension on BehaviorRelay (this is the type of the "st

[2018-08-16 20:27] clsk commented on #43
@twittemb Do you have any ideas about how to tackle it so far? I could give this a shot, since it's an itch I need to scratch.

[2018-08-17 00:07] twittemb commented on #43
Hi @clsk

I think for simple cases it is just a matter of trigger a new Step for the main flow within the AppDelegate when a notification comes.

But if you think about a more elegant way of doing this, you can give it a try an make a PR with pleasure.

Thanks.

[2018-08-17 00:11] clsk commented on #43
@twittemb I've tried that. But it won't work. Because the coordinator is not listening to Step events from the main AppFlow. Unless there's something I'm missing...?

[2018-08-19 02:25] twittemb commented on #43
@clsk I'm curious about you're implementation ... I don't see why it was not working well. Do you have some code to share ?

[2018-08-19 08:50] iOSDevFin commented on #67
Yep we've made it like this and worked. Many thanks for the suggestion.

[2018-08-19 13:43] twittemb commented on #67
Great !

I close the issue then.

[2018-08-19 13:43] #67 closed

[2018-08-19 19:09] clsk commented on #43
@twittemb Please ignore my previous comment. I think I might have been doing something wrong. I will try to re-implement correctly and get with my findings.

[2018-08-22 22:25] Jauzee opened #69 "Passing needed dependencies as Step enum associated values"
I was trying this library and was thinking about app flows and DI, so I have a question: is it bad practice to declare enum cases with associated values (view models) to pass them from Steppers? It will retain the most recent step's value because BehaviorRelay will hold it, but maybe it can be changed somehow, if the idea isn't bad, if it is please explain why.

[2018-08-23 10:46] edon2005 opened #70 "Subscribe step"
Hi guys,

From what I understand looking at code of RxFlow, step will be subscribed when viewController didAppear.
Why rxflow dont do it earlier, for example on viewWillAppear or more earlier?

Thanks.

[2018-08-26 22:33] Jauzee opened #71 "Always visible floating view and it's Steps"
We have a view in our app, which is visible on each screen. This view can present some views modally or push them onto the navigation stack.

Any advice on how to create Flows in this scenario? It would be nice if all steps from this floating view would be handled by some RootFlow from where all the other views are presented, so the RootFlow would dismiss everything and present new view if needed.

[2018-08-27 00:31] twittemb commented on #69
Hi @Jauzee

I am not sur what you want to do ? Using enum associated values is great and recommended to pass data from one Flow to another (a next Flow or a parent Flow).

Indeed if your ViewModel is also your Stepper, passing it as a parameter of a Step which will be sent to a BehaviorRelay could be risky ... As a Stepper MUST be a class we have to deal with shared references.

I like to pass rea

[2018-08-27 00:34] twittemb commented on #70
Hi @edon2005

Because once the Stepper is subscribed, if it triggers a first Step before the View HAS appeared It could ask the Flow to display another ViewController on top of something that hasn't been displayed yet ... I'm not sur if UIKit would appreciate it ! but it is something we can challenge for sur.

Have you tried to change it ?

[2018-08-27 00:51] twittemb commented on #71
Hi @Jauzee

Having a RootFlow that takes care of the presentation of global Modal ViewControllers is great. For instance a RootStepper can listen to the user authentication state and trigger a step every time the user is logged out, so the RootFlow would present a modal login screen.

Could you give me more details about your Flows organization ? because the main advantage of flow coordination is

[2018-08-27 07:58] edon2005 commented on #70
Hi @twittemb,

Yes I have change it for my project. And it works perfectly.
Because I just need such way, before showing one ask to show another screen.
For example: I show a viewController with pushing, and blocking the access to the viewController with presenting second viewController with offering user to get access. the secondViewController has faded transparent background to show what user co

[2018-08-27 15:21] BirdyF opened #72 "How to hide a tab bar when using RxFlow?"
Hi,

I am trying to use RxFlow (I am new to RxSwift too) for a new project and I would like to hide a tab bar. The only solution I found so far is to have a global variable like
let DashboardRootViewController = UITabBarController()

then DashboardRootViewController.tabBar.isHidden = true

Is there a nicer way to do it?

[2018-08-27 20:46] Jauzee commented on #71
Exactly! This works until I present `NextFlowItem` where `Presentable` is `Flow` subclass, not `UIViewController`. The `RootFlow` stops receiving `Step`s until the new `Flow` is dismissed.

Currently all the _FloatingView_'s `Step`s are handled by the `RootFlow` — I pass _FloatingView's_ `Stepper` in a `CompositeStepper` to each `NextFlowItems` returned in the `RootFlow`.

The _FloatingView_ also

[2018-08-29 06:27] felixsolorzano opened #73 "How does RxFlow navigation between coordinators works?"
It's pretty common that the user navigates back in a UINavigationController by gesture, so I'd like to know if you already support it?

[2018-08-29 12:27] twittemb commented on #73
Hi @felixsolorzano

RxFlow does not interfere with UIKit built-in back mechanism inside a navigation stack.

It is important to let UIKit deal with that on its own.

What is your concern about that ?

[2018-08-29 21:54] felixsolorzano commented on #73
I'm a bit confused on how does this library handle references and instances, specially when navigating back in the navigation stack and from one flow to another, how does this work?

I mean, lets say we have a **HomeFlow** and a **SettingsFlow** after opening _settings_ and going back to _home_ ho does RxFlow release the SettingsFlow instance? Or what do I have to do in order to release it, I know

[2018-08-29 22:22] felixsolorzano opened #74 "How could I implement a custom action for a UITabBarItem?"
I reviewed the code from *RxFlowDemo*, but there's no example of how to handle a custom action from a UITabBarController.

To handle a custom action we commonly implement the following function from `UITabBarControllerDelegate`:

[code]

How would this be done in RxFlow?

[2018-08-29 22:39] farshadtx commented on #61
Any chance to release that commit soon?

[2018-08-30 00:47] twittemb commented on #72
Hi @BirdyF

I'm not a UIKit expert but it looks like the right way. But I'm curious about why you would have to make a UITabBarController if you hide its TabBar ?

[2018-08-30 00:58] twittemb commented on #73
There are 2 cases when Flows are unretained:

- its root view controller is explicitly dismissed
- you trigger a .end NextFlowItems

Is it clear enough for you ?

[2018-08-30 01:08] twittemb commented on #74
You could do this in multiple ways:

- your stepper could also be your tabBarController's delegate and it could call "self.steps.accept(Steps.needCamera)" to trigger the navigation.
- if your tabBarController's delegate is also your TabBar ViewController and this ViewController has a ViewModel registered as a Stepper you could call a "cameraClicked" function on your ViewModel and this function cou

[2018-08-30 06:41] BirdyF commented on #72
Hi @twittemb,

Unfortunately I am not  UIKit expert too! I would like to hide the bar because I want to use all the screen to display a video and then when the user tap the screen show again the tab bar.

[2018-08-30 06:45] pavlodavydiuk commented on #72
Hi @BirdyF,

You can do it easy by setting `hidesBottomBarWhenPushed` property when you push next view controller.

Sample:
`nextViewController.hidesBottomBarWhenPushed = true`

[2018-08-30 11:42] #72 closed

[2018-08-30 12:56] twittemb commented on #61
Hi @farshadtx

Release 1.5.0 will embed this. It will be out tonight.

[2018-08-31 00:55] twittemb commented on #61
@farshadtx

release 1.5.0 is out !

[2018-08-31 00:56] twittemb commented on #71
As you have found a solution, I close this issue.

Thanks for sharing your idea !

[2018-08-31 00:56] #71 closed

[2018-08-31 16:19] felixsolorzano commented on #74
Could it be possible for you to provide code example of the _most_ appropriate way of doing it following your library style?

[2018-08-31 18:17] farshadtx commented on #61
Thanks.

[2018-09-03 17:45] felixsolorzano opened #76 "Why does this library depends on RxReusable?"
Shouldn't it be integrated without depending on another library?

[2018-09-03 19:38] twittemb commented on #76
Hi @felixsolorzano

RxFlow does not depend on RxReusable or on Reusable. The Demo app uses Reusable that's all.

[2018-09-03 19:40] twittemb commented on #74
Hi @felixsolorzano

I would do something like I did in the demo app for the Settings button in the Navigation Bar of the first tab. This Settings button is handled by the Stepper of the WishlistFlow.

Take a look at the WishlistStepper inside the WishlistFlow.

[2018-09-03 19:43] twittemb commented on #70
Hi @edon2005

Can you do a PR so I can review it and eventually put it in the next release plz ?

thanks.

[2018-09-05 14:09] alchemistgo87 opened #77 "What is the need to initialize all the services in AppDelegate?"
In the Demo app, all the services are being initialised in the AppDelegate and all the services are being passed to all the flows, even if it is not required by some flows. So, I just wanted to ask that what would be the best way to initialise and pass only the required services in a flow?

Thank you.

[2018-09-05 22:43] edon2005 commented on #70
Hey, I did.

https://github.com/RxSwiftCommunity/RxFlow/pull/78

[2018-09-06 00:44] twittemb commented on #77
Hi @alchemistgo87

Your question deals with Dependency Injection. Flows (and Coordinator Pattern) are great to do DI. My solution is pretty naive because I pass an AppServices to Flows and that AppServices contains all the Services. Protocol composition (Has{Service}) allows me do segregate the AppServices to really needed services in the low level layers.

You could pass to the Flows only what is

[2018-09-06 13:54] alchemistgo87 commented on #77
That sounds correct. Thank you for the response @twittemb!

[2018-09-06 13:54] #77 closed

[2018-09-07 01:13] #76 closed

[2018-09-07 01:13] twittemb commented on #70
thanks ... PR merged.

[2018-09-07 01:15] twittemb commented on #74
Hi @felixsolorzano

Have you looked at the demo app ?

[2018-09-07 01:16] twittemb commented on #73
Hi @felixsolorzano

Is it ok with you to close this issue ?

[2018-09-07 01:17] twittemb commented on #69
Hi @Jauzee

any updates on this ?

[2018-09-07 06:10] Jauzee commented on #69
At the beginning it seemed as a good idea to pass a ViewModel from a Stepper, i.e. if we have a FeedViewModel as a Stepper and we want to open FeedDetailsViewModel, I wanted to go to .feedDetailsStep(FeedDetailsViewModel), but then I realized that it's better to construct FeedFlow with all the needed dependencies inside of it, so it'll be more like a _FeedFactory_ and on each step it will resolve

[2018-09-07 06:10] #69 closed

[2018-09-07 08:06] edon2005 commented on #70
Not at all :)

[2018-09-11 21:11] SeRG1k17 commented on #53
@twittemb, @mfcollins3  meant that he would like to use a **NoneStepper**
[code]
becase he want this:
[code]

Easy but, not a good solution:
[code]
Proposals:
- make **NoneStepper** as public.
- or make OneStepper open, for inheritance outside module.

[2018-09-11 21:27] twittemb commented on #50
I close this issue since there is not a strong interest in this for now.

Thanks @mariohahn.

[2018-09-11 21:27] #50 closed

[2018-09-14 22:55] SeRG1k17 commented on #73
@twittemb Same issue. Back(pop) Pan gesture recognizer in navigationController not working. You can see this bug in the demo app.
Watchlist -> MovieDetail. Try to go back with a pan gesture from the left edge of the screen.

[2018-09-15 17:29] SeRG1k17 commented on #73
@felixsolorzano Its simulator bug. Just restart him.

[2018-09-19 05:48] felixsolorzano commented on #73
Thanks!

[2018-09-19 05:48] #73 closed

[2018-09-19 21:51] Alex293 opened #80 "RxReduce + RxFlow"
Is there a way to combine RxReduce + RxFlow to get something like ReSwift ?
Having both well integrated would really enhance Rx project in my opinion.

[2018-09-19 21:58] twittemb commented on #80
Hi @Alex293

This is exactly the idea behind these 2 repos. In my personal projects I combine RxFlow and RxReduce to have a full reactive unidirectional data flow.

Perhaps some day I will publish some examples, If I get more time :-)

[2018-09-26 02:58] lm2343635 opened #81 "Issue in the version 1.6"
When I updated to version 1.6 from 1.5, the `step.accept()` method in the view model of a child view controller did not work.
[code]
`FinishedViewModel` is the view model class of `FinishedViewController`, which is a child view controller of `RacingViewController`.

Here is the Step and Flow:

[code]

In the version 1.5, when I invoke `step.accept(LiveStep.result(race))`, it works well and the nex

[2018-10-05 17:21] fenixsolorzano opened #83 "Presenting a navigation controller"
I'm having trouble when presenting a `uinavigationcontroller` from a `uiviewcontroller` instantiated from a `Flow`.

I got a `LogInController` that is the stepper itself, I'm using Facebook AccountKit for my login process, to use it I have to present their controller from my login controller.

[code]

AccountKit has a delegate to handle login completion, and I'm trying to send the step from there.

[2018-10-07 04:03] twittemb commented on #83
Hi @felixsolorzano

The only reason why navigate() is not called would be because the LoginViewController is maybe under the AccountKitController.

With RxFlow, when a Stepper triggers a new Step, it will be processed ONLY if the associated Presentable is displayed (ie no other ViewCcontroller on the top of the hierarchy).

What you could do:

- do not present the AccountViewController in the Logi

[2018-10-07 04:18] felixsolorzano commented on #83
I'll tryout and will let you know how it goes. Thanks.

[2018-10-08 03:57] twittemb commented on #81
Hi @lm2343635

Sorry for the delay. I'm gonna have a look tomorrow.

Thanks

[2018-10-09 13:54] BsBrabi commented on #81
Looks like I have almost the same issue, but I am using a CompositeStepper for my side menu navigation (as described here: https://github.com/RxSwiftCommunity/RxFlow/issues/62#issuecomment-405430250).

After some investigation it turned out that the following commit breaks the stepper: https://github.com/RxSwiftCommunity/RxFlow/commit/f713eb1c1e0abcd268ceaf847fe17c037a4b3e1a
When I reversed this c

[2018-10-10 00:34] twittemb commented on #70
Hi @edon2005

It seems that the modification you've made in this PR https://github.com/RxSwiftCommunity/RxFlow/pull/78 brings some problems for some users.

Do you think your app could work without those changes ? for instance by triggering a second step (to display you second viewController) right after the first one ?

[2018-10-10 00:35] twittemb commented on #83
Hi @felixsolorzano

Any updates on this ? :-)

[2018-10-10 00:38] twittemb commented on #81
Hi guys,

Thanks for the feedback, I am considering reverting this commit. I will get back to you very soon.

Sorry for the trouble.

[2018-10-10 10:43] edon2005 commented on #70
HI, Yes, it seems my commit destroyed functionality for some users. Really sorry for this.
In my application it would work but user will see first viewcontroller as usual, and then second viewcontroller will appear with fading first viewcontroller in a second. SO it can be ok but not as perfect as before :)
For me it is not a problem if you revert commit. I can just keep this part of your framewor

[2018-10-10 13:36] av0c0der opened #85 "Doesn't work with Peek & Pop gesture"
I did implement the gesture in our app and faced the bug: the app won't continue the navigation process. Reproduced with the demo app.
<img width="975" alt="screen shot 2018-10-10 at 15 33 35" src="https://user-images.githubusercontent.com/7991920/46739934-e9da5100-cca1-11e8-9c2f-606cf2445415.png">

[2018-10-11 00:09] twittemb commented on #81
Hi there.

Can you give a try with the version 1.6.1. I've reverted the commit.

Thanks.

[2018-10-11 00:10] twittemb commented on #70
Thanks for the feedback @edon2005

I've reverted the commit in the version 1.6.1

We will try to figure out a way to implement your feature for sure.

[2018-10-11 00:10] #70 closed

[2018-10-15 17:38] MortMerr opened #86 "Step to AppFlow"
I have a case, when i am really deep in flows hierarchy and i want dispatch a step to AppFlow.

Concrete case:
UITabBarController has UINavigationController (flow 1) as a tab. This tab has button, which presents another viewController (flow 2). In this flow i have the tableView, which cellClick push new viewController, which has button, which presents another viewController (flow 3).
I hope, that

[2018-10-15 17:44] MortMerr commented on #80
@twittemb have you ever checked ReactorKit?

[2018-10-16 14:30] Jauzee commented on #85
Hi @twittemb. Sorry for the late response, I missed your message.

I forked the repo and changed the `WishlistViewController.swift` file here: https://github.com/Jauzee/RxFlow/tree/develop

[2018-10-16 23:34] twittemb commented on #85
Thanks for your repo @Jauzee

In the current version, RxFlow is not suited for peek n pop usage.

In the RxFlow philosophy the ViewControllers are created by the Flows.
Peek n pop needs to implement the creation of the destination ViewController in its delegate (aka the WishlistViewController) ... unfortunately it is not compatible with the current implementation of RxFlow.

I can't see a good way

[2018-10-17 23:30] Jauzee commented on #85
@twittemb no, I didn't investigate it yet.

In our app I only create a view controller for the preview. So in the delegate callback I only call some method, which triggers new step in a Flow. I can't understand why the Flow doesn't receive further steps. It opens the view controller which was previewed, but then the navigation stops.

[2018-10-22 23:31] Jauzee commented on #85
Hi @twittemb. I understand that, but you can commit any view controller, you're not limited to present the view controller that was created for a preview. You can just throw it out and call your new Step, so I believe there's a way to handle this. Can you please explain a little why it doesn't handle new Steps, what's the key difference here?

[2018-10-23 08:30] chriskilpin opened #87 "App Coordinator Setup"
Hi @twittemb

I have a setup very similar to the example project. I have a UITabBarController as my root view controller which has some of its own child flows. When the app starts up I need to check if the user is logged in and display login. The difference is I want to present the login view controller as a form sheet over my tab bar and not swap out the root view controller. I have tried calling

[2018-10-23 12:47] MortMerr commented on #80
@twittemb i don't want to create new issue just for one question, so i will ask here.
Have you ever thought about how working with objc_runtime from swift code (associated object) will affect performance?

[2018-10-23 17:20] Jauzee commented on #85
Hi @twittemb!

Commenting this [line](https://github.com/RxSwiftCommunity/RxFlow/blob/develop/RxFlow/Coordinator.swift#L173) _resolves_ the problem. Why it can be a problem in this case?

[2018-10-26 01:19] twittemb commented on #86
Hi @MortMerr

Perhaps you can use .triggerParentFlow (withStep: Step) from Flow2 to Flow2 to Flow1. The other solution is to pass the Flow1 stepper to your children flows.

Why Flow is not a protocol with associated type ? because the FlowCoordinator has a property of type Flow. And this is not possible to have a property of a protocol type that has an associated type. I tried to play with Type Er

[2018-10-26 01:47] twittemb commented on #87
@chriskilpin

I tried to make something really quickly ... it should help -> https://github.com/RxSwiftCommunity/RxFlow/tree/demo/popupLogin

thanks.

[2018-10-26 01:48] twittemb commented on #83
Hi @felixsolorzano

Can I close this issue ?

[2018-10-26 01:50] twittemb commented on #80
Hi @MortMerr

Nop ! never checked ... do you have a feedback on this ?

[2018-10-26 01:50] twittemb commented on #74
Hi @felixsolorzano

May I close this issue ?

[2018-10-26 13:30] MortMerr commented on #86
@twittemb 1) yeah, i handle it like that. I just thought, that there is better way.
2) ok. thank u for clarification
Issue could be closed

[2018-10-26 14:30] chriskilpin commented on #87
Hi @twittemb

We had something similar on our end with a timer but your implementation of calling checkLogin inside the stepper from the flow complete block is definitely better.

Thanks for the help it is much appreciated.

[2018-10-26 14:30] #87 closed

[2018-10-27 21:02] #86 closed

[2018-10-27 21:07] twittemb commented on #80
Hi @MortMerr

Indeed asociated objects are not mandatory. I just wanted to avoid the developers to have to declare a BehaviorRelay each time they would declare a Stepper for instance because Stored properties are not handled by protocol extensions.

This is something that is "convenient" but not necessarily a "good practice" to use this mechanism.

For now I don't want to change my implementation

[2018-10-30 11:23] mariovoelker opened #88 "Different behaviour depending on setViewControlelrs( [vc], animated: [true|false])"
Hey, first of: Stellar Project!

I have the following flow
-> [.loading] -> Loading
-> [.loadingComplete] -> DisplayData
(User clicks refresh)
-> [.loading] -> Loading
-> [.loadingComplete] -> DisplayData

I ran into an issue where going through the same flow behaves different the first go round. Up until User clicks refresh everything is displayed fine.
Now if I click refresh I expected everythin

[2018-11-01 16:46] ssaluk opened #89 "Weird behavior probably related to rxVisible implementation"
There is a place in Coordinator.swift, line 171 that prevents stepper from sending new steps up to the flow when presenter is not visible.
https://github.com/RxSwiftCommunity/RxFlow/blob/21dc3fd4c39cf14ff323e83563be91f94d5d2937/RxFlow/Coordinator.swift#L171
It has weird effect in my project: *some* sectioned table views are displayed without sections (though it works in some custom containers). I'

[2018-11-02 06:19] ssaluk commented on #85
@Jauzee Hi! I registered another [issue](https://github.com/RxSwiftCommunity/RxFlow/issues/89), which I traced to the same line in Coordinators.swift but with different observed effect (missing section title in some tables). As it turned out my problem was I didn't clear the existing delegate/datasource for tables (debug version of RxSwift has the asserts for this, but I was using release version)

[2018-11-03 05:14] Jauzee commented on #85
Thank you very much for your feedback @ssaluk. It can be helpful.

[2018-11-04 23:28] felixsolorzano opened #90 "How could I avoid rewriting funcs to open a specific controller?"
I've got a controller that is opened from different flows, how could I avoid copy/paste the same code across flows? I know it depends on the app navigation design, but for this case it's very difficult to design it a way it would need repeating the step.

Think about facebook posts, you can open a post detail from the feed or from a profile, how could you avoid repeating the code in the `FeedFlow`

[2018-11-05 03:43] twittemb commented on #90
Hi @felixsolorzano

One way of doing this could be:
- define 1 protocol "HasDetailNavigation" with a "func navigateToDetail(from: UIViewController) -> NextFlowItems"
- extend that protocol to have a default implementation of this function
- make the some of the Flows conform to this protocol

That way these Flows will all have access to "navigateToDetail(from:)"

Is this something doable in your c

[2018-11-05 03:50] twittemb commented on #88
Hi Mario

What is your version of RxFlow ?

[2018-11-07 10:42] mymymario commented on #88
I am using RxFlow version 1.6.1

[2018-11-07 20:55] felixsolorzano commented on #90
Yeah, that works great!, only one question I pass the navigation controller in the func so that it could push from there, I'm not that sure if it would be the right way:

[code]

What do you think?

[2018-11-08 14:54] sprhawk opened #91 "What is the proper way to do back (navigation controller.popViewController) ?"
Hi, I'm using RxFlow in my app. But I encounter a weird problem.

 I have a navigation controller with bar hidden, so I need an IBAction to do `navigationController.popViewController`

The app structure is like:

[code]

I do navigation inside Tab2 Flow. with `AppStep.moreabout`

[code]

Currently I do AppStep.moreaboutDone to pop:

[code]

when I again do step AppStep.moreabout, the NavigationCon

[2018-11-08 15:20] #91 closed

[2018-11-08 15:21] sprhawk commented on #91
Find a bug in my View Controller

[2018-11-09 04:05] twittemb commented on #90
Yes if can be great.

[2018-11-09 04:06] felixsolorzano commented on #90
Thanks, I'll close this, your proposal worked for me.

[2018-11-09 04:06] #90 closed

[2018-11-09 04:07] felixsolorzano commented on #74
As you said, the stepper could be the tabBarController's delegate, the only thing I'm kinda disagree is that it's a non rx way to do it.

[2018-11-09 04:07] #74 closed

[2018-11-09 16:38] wberger opened #92 "Memory leak when ending .multiple flow"
My app currently has a serious memory leak and I was able to reproduce it in a slightly modified version of the demo app.

It is demonstrated in this branch:
https://github.com/wberger/RxFlow/tree/test/multiple_leak

The relevant files are:
RxFlowDemo/RxFlowDemo/Flows/AppFlow
RxFlowDemo/RxFlowDemo/Flows/DashboardFlow
RxFlowDemo/RxFlowDemo/Flows/WishlistFlow

I added a "Logout" button to the wishli

[2018-11-10 19:11] twittemb commented on #80
Hi @MortMerr

Is it ok to close this issue ?

[2018-11-12 09:16] AlexisQapa commented on #80
Yes it is. Thought I'd be interested if you got any small example with the navigation state put into the store.

[2018-11-12 09:18] MortMerr commented on #80
@twittemb of course, fell free. I don't like asociated objects, and the only suggestion from me - replace them on simple protocol variable

[2018-11-13 01:21] gordoneliel opened #93 "Memory Leaks from profiling"
I've been using RxFlow for a while now it its amazing! However I noticed a spike in memory when using it, especially with complex flows and dug deeper. I know there are a bunch of issues related to memory leaks but, I noticed that Viewcontrollers never get deallocated, even in the example app, is that normal? None of the deinits for the viewcontrollers get called. Below is a snapshot of the profil

[2018-11-13 11:47] dsk1306 commented on #85
You can actually emit steps, but after some delay.
I just tried

[code]

and and didn't stop navigation process.

[2018-11-13 13:36] anthony-sanchez commented on #92
Same issue here

[2018-11-13 13:38] twittemb commented on #92
Hi guys

Very interesting. Thanks for the example. I will work on that ASAP.

[2018-11-14 14:29] antgar commented on #92
Same issue here too

[2018-11-14 23:57] twittemb commented on #92
Hi guys. Work In Progress.

I'll give feedback soon.

[2018-11-16 01:45] twittemb commented on #92
Hi @antgar, @anthony-sanchez, @wberger

Could you try RxFlow with the develop branch. I've pushed a fix for the memory leaks.

I hope this helps.

[2018-11-16 01:46] twittemb commented on #93
Hi @gordoneliel ,

Could you please try your app with the last develop version of RxFlow ? I've pushed a fix regarding memory leaks related to another issue (https://github.com/RxSwiftCommunity/RxFlow/issues/92) but it could be the same problem than yours.

Thanks.

[2018-11-16 10:05] AlexisQapa opened #94 "Best practices for finishing flow"
Hi,

For decoupling reasons I want to use a ParentStep and a ChildStep enums. So I got my parent which start the child flow. The child flow goes on until it's end. Now, what is the best practice to end the child flow and push back a value to the parent? Using .end(withStepForParent) require knowing which step in the parent the child should call which ties the child to an implementation detail of t

[2018-11-19 08:41] zenghaojim33 opened #95 "Any suggested practice for handling remote notification navigation?"
I am new to this library and I am thinking about how to deal with navigation by remote notification.  Is there any example shows how to do this elegantly? Thanks.

[2018-11-19 14:38] wberger commented on #92
Thank you, I will try it tomorrow!

[2018-11-19 15:53] hampusiggstrom commented on #92
I had the same issue and solved it by the simple but hacky solution to remove all VCs in the tab bar on `.end`.

The latest commit in the develop branch fixes this issue for me.

Thx!

[2018-11-24 20:46] MortMerr commented on #94
Steps - are already delegate. Just think about your enum with steps as about big delegate protocol. One case - is one delegate method. For instance
[code]
And then you declare class and implementing methods, and close that class by protocol. So, nobody knows real implementation except NavigationDelegateImpl.
But when you have you steps, things are changing (no more delegates):
[code]

As for two e

[2018-11-26 16:08] wberger commented on #92
@twittemb Thank you, this fixes the issue!

[2018-11-27 10:11] dsk1306 opened #96 "1.6.2 release doesn't contain commit with fix"
I might be wrong (and sorry if I am) but 1.6.2 release's changelog says that it fixes issue with ending multiple flows and I don't see the commit with fix in it.
![screen shot 2018-11-27 at 13 04 08](https://user-images.githubusercontent.com/9428706/49074515-e2690a00-f245-11e8-9140-d636fead76ab.png)

[2018-11-27 12:33] dsk1306 commented on #92
I've just tried new fix and it didn't really help me.
I've made a simple project  in which I have an app with onboarding screen and tab bar. I've tried to implement logout flow with throwing .end flow item down to root flow and noticed that not all of my flows (and controller) were deinited. Maybe I just do it wrong? Please, have a look at https://github.com/dsk1306/rxFlow-92 when you have a free

[2018-11-28 04:34] twittemb commented on #92
@dsk1306 There was an issue with my release. Please try again by reinstalling the v1.6.2.

Thanks.

[2018-11-28 04:35] twittemb commented on #96
Hi @dsk1306

I fixed the issue, it should be ok now.

Thanks for your feedback.

[2018-11-28 04:36] twittemb commented on #93
Any update on this with v1.6.2 ?

[2018-11-28 04:40] twittemb commented on #94
Hi there

@MortMerr thanks for your help. May I suggest a simpler way of coding your switch statement ?

switch step {
  case .close(.login) {
         self.rootViewController.dismiss(animated: true)
         return .none
   }

It makes your code a lot less verbose.

[2018-11-28 04:45] twittemb commented on #95
Hi @zenghaojim33

Thanks for reaching. Unfortunately I have no example right now.

The way I see it is having an "AppFlow" instance in the apoDelegate that would be driven by an AppStepper. The AppStepper would also be a property of the appDelegate. When receiving a push notif, the appDelegate could ask the AppStepper to trigger the appropriate Step.

It would be up to the appFlow to handle the VC

[2018-11-28 10:30] AlexisQapa commented on #94
I'd like to put some of my flows in a separate module. So using a single enum isn't really a solution.
What I'd like is to have an enum by flow as steps make most sens only in one flow.
Your use of indirect case in enum might be a way to achieve what I want thought. I could have a big enum for the app with indirect enum for each flow. Also in the switch I only have to deal with the sub enum or ret

[2018-11-28 10:34] MortMerr commented on #94
@twittemb i prefer move move close step to separate function, so my usual implementations is like

[code]
Previous example was not about clean code, but about concept with `.close`
So, thank you, but i know how pattern matching works

[2018-11-28 10:53] dsk1306 commented on #92
@twittemb it did help. Thanks.

[2018-11-29 01:32] #96 closed

[2018-11-29 03:56] twittemb commented on #93
Hi @gordoneliel

From what I see:
- leaks do not appear in a simulator, but I've seen some on a device
- all of them where about UIKit or UIKeyboard.

I would say that this is the demo app that probably leaks.

[2018-11-29 17:55] gordoneliel commented on #93
@twittemb Thanks for the followup! I'll close this now.

[2018-11-29 17:55] #93 closed

[2018-12-05 07:03] maslovsa commented on #43
@twittemb

I create DeepLinkService which inits with Coordinator. And subscribes for Flow which should handle DeepLinks.
May be I missed more elegant API to catch current Stepper from Coordinator?

https://gist.github.com/maslovsa/ec8285a90df8c1ee075ab2821a4b2778

[2018-12-06 00:17] fatbunboy commented on #92
hi @twittemb, thanks for the fix.  However, I notice this fix is working on Carthage but CocoaPods.
I have same set of code, both are using v1.6.2, but CocoaPods seems still leaking memory.

**CocoaPods:**
https://github.com/fatbunboy/RxFlowTestingPods

**Carthage:**
https://github.com/fatbunboy/RxFlowTesting

[2018-12-06 13:38] twittemb commented on #92
Hi @fatfunboy

Thanks for the feedback. I will take a look at that today.

[2018-12-06 16:12] twittemb commented on #92
@fatbunboy I've just cloned your repo and gave it a try. I had no issue with memory leak. Have you made a pod update / pod install ?

[2018-12-06 19:16] MortMerr commented on #92
@twittemb i also still has this issue (using cocoapods, Rxflow 1.6.2)

[2018-12-07 00:31] fatbunboy commented on #92
@twittemb , sorry that I didn't indicate the steps. added Readme and screenshots to

CocoaPods:
https://github.com/fatbunboy/RxFlowTestingPods

Carthage:
https://github.com/fatbunboy/RxFlowTesting

1. passed on-boarding flow
2. tap logout button on top-left on wishlist flow

it shows DashboardFlow and WishlistFlow are retained by using cocoapods Rxflow 1.6.2

[2018-12-07 18:30] twittemb commented on #92
@fatbunboy thanks a lot for your nice feedback.

I will give it a closer look this weekend. Just for the record, have you tried it on the simulator or a real device ?

[2018-12-10 00:06] fatbunboy commented on #92
@twittemb. yes tested both on real iPhone and simulator. it does have this issue when using cocoapods Rxflow 1.6.2

[2018-12-10 16:03] MortMerr commented on #92
@twittemb please reopen this issue, cause fix is not working/not applied

[2018-12-18 14:59] anhdle14 commented on #91
@sprhawk could you tell me more about the bug, i got the same issue and it is triggering me... Still don't know how to solve it yet.

The only work around i got is to .popViewController

[2018-12-18 16:46] sprhawk commented on #91
I just use another step, and in navigate(step:) call pop, and return .none

[2018-12-18 16:51] anhdle14 commented on #91
Could you elaborate more? A sample of the code would be good

[2018-12-19 10:09] anhdle14 opened #97 "100% Programmatically with no Storyboard or Nib, can it be used with RxFlow"
Just like the title, i am working on a project that is 100% written in code, the only Storyboard is the launch screen. RxFlow did a good job on doing the navigation without messing too much with rootViewController. And the ideas of the coordinator is perfect. But from what i have been researching. There are 2 problems i have encountered:
1.  `self.rootViewController.pushViewController()` push to t

[2018-12-19 19:17] freak4pc commented on #80
Just as an afterthought - this can possibly be replaced with a protocol with default extension implementation that actually works with associated object. If a developer wants to avoid Associated Objects they can re-implement the protocol to have their own bags, etc.

[2018-12-19 19:21] twittemb commented on #80
Thanks @freak4pc. Will try that soon.

[2018-12-19 19:22] freak4pc commented on #80
BTW I'm a fan of Associated Objects :) But this is for other people in this case.
It's a minor "nuisance" to clean up the API real nicely.

[2018-12-20 00:44] twittemb commented on #97
Hi there.

Can you share your projet (or a part of it) so I can have a closer look ?

BTW ViewModelBased and Storyboard based are just sugar ... You could define a ViewModelBased protocol that has nothing to do with StoryboardBased and should be able to instantiate a VC that conforms to it. I'm using the library Reusable in the demo app just to make it easier to instantiate VC.

[2018-12-20 08:38] anhdle14 commented on #97
So i tried to create a brand new project with a similar code base, but the UINavigationController.pushViewController work fine. I will try to find the bug by today, if not i will share the whole project with you.

[2018-12-20 09:09] anhdle14 commented on #97
Ok so i found the bug.

## For short:
1. It was because i use UIButton.addTarget(...)
2. I have multiple buttons register with the same #selection(handleButton(button:))
3. I use `switch`, to fire this piece of code
[code]
4. So the behavior is not the same if i move this piece of code outside of viewDidLoad scope.

---
So, is there anyway i could achieve this? or the default navigation with rx.ta

[2018-12-21 01:40] fatbunboy opened #98 "Memory leak when ending flow with using navigation controller from parent flow"
Hi there,

There is a case we would like to use a sub-flow anywhere as needed, and we use the parent navigation controller in sub-flow, in order to keep the UI transit seamlessly. However, the **func navigate(to step: Step)**  has never been called when we trigger a cancel step at the point of moving to parent view.

Could you advise how we manually end the flow to avoid Memory leak?
Or, is there

[2018-12-21 15:21] MortMerr commented on #92
Hi @twittemb )
Any updates on that?

[2018-12-22 19:00] twittemb commented on #98
Hi @fatbunboy

Thanks for your feedback. I'm on vacation for a few days, i will have finally the time to give some love to RxFlow and bring you some answers.

Stay tuned.

[2018-12-22 19:01] twittemb commented on #92
Hi there

I'm on vacation for a few days, i will have finally the time to give some love to RxFlow and bring you some answers.

Stay tuned.

[2019-01-02 07:20] #97 closed

[2019-01-05 21:51] twittemb commented on #98
Hi @fatbunboy

I'm developing RxFlow 2.0.0 and I think it can address your memory issue. I've done a PR on your demo project to adapt your code to this new version. Can you give me your feedback on this please ?

https://github.com/fatbunboy/RxFlowTestingEndFlow/pull/1

Thanks a lot.

[2019-01-05 21:55] twittemb commented on #92
Hi there.

I'm working on RxFlow 2.0.0. It brings some breaking changes and a refactor of the memory management. I think it can address the issues that are exposed in this thread.

It would be great if you could give me your feedback on this version (it is currently on the develop branch)

Here are the changes:
- Coordinator has been renamed in FlowCoordinator.
- NextFlowItem and NextFlowItems hav

[2019-01-06 10:18] MortMerr commented on #92
@twittemb really fantastic changes. Looking forward to taste it :)

[2019-01-08 12:06] tbilopavlovic opened #100 "UIPageViewController"
Hi, are there any suggestions how to use flows with UIPageViewController?
Currently (develop branch), `rxDismissed ` is called and flow does not listen for steps any more (just scroll to the end to get `rxDismissed` called and then scroll back to first view).
For example DashboardFlow from Demo app:

[code]

[2019-01-14 01:14] twittemb commented on #100
Hi @tbilopavlovic

Do you really want to have a navigation stack per page ?

[2019-01-14 01:15] twittemb commented on #92
Hi there. Is there anyone who is willing to test RxFlow 2.0.0 before the release ?

[2019-01-14 10:01] MortyMerr commented on #92
@twittemb I would like to take a look)

[2019-01-14 10:11] tbilopavlovic commented on #100
Hi,

Well each page have multiple navigation options, so i am using it as root of each new flow... but it seems i'll have to look for other solutions?

Thanks

[2019-01-14 13:34] twittemb commented on #100
I have to try by myself to give you a sharper answer.

Are you sure that the VCs are dismissed each time you swipe to another page ?

[2019-01-15 02:35] llt3677 opened #101 "Version 2.0.0 could not be found"
![image](https://user-images.githubusercontent.com/20432715/51155159-8ae43380-18b1-11e9-8f7b-c18362727917.png)

[2019-01-15 03:46] twittemb commented on #101
Hi there.

Version 2.0.0 is under development. Release is expected soon.

Thanks.

[2019-01-15 09:01] tbilopavlovic commented on #100
Yeah, `rxDismissed` is triggered and flow deinit is called.

[2019-01-18 02:12] Jokemac opened #102 "iOS 8.0 support?"
Why does not support iOS8.0?
![image](https://user-images.githubusercontent.com/16797357/51361148-95006f00-1b09-11e9-80cf-5ca603156224.png)

[2019-01-18 02:43] twittemb commented on #102
Hi @Jokemac

Usually it is a good practice to support the 2 last major versions of iOS: 12 and 11. RxFlow supports iOS 9.0.

It represents the very large majority of active devices (More than 99%).

[2019-01-18 08:50] Jokemac commented on #102
@twittemb
But now my company project has to support iOS 8.0 at the minimum, and I want to use RxFlow to improve my project.

[2019-01-18 15:43] MortyMerr commented on #102
@Jokemac why can't u just fork it?

[2019-01-19 02:01] #101 closed

[2019-01-19 02:59] Jokemac commented on #102
@MortyMerr
So I just fork, then modify s.ios.deployment_target = "9.0" to become "8.0", can I use it normally?

[2019-01-19 03:41] Jokemac commented on #102
@twittemb @MortyMerr
OK, thank you

[2019-01-19 03:41] #102 closed

[2019-01-21 10:38] anhdle14 opened #103 "How to push a UINavigationController to main AppFlow? [2.0]"
I have a flow like this:
[code]

But i can't seem to push an UINavigationController to AppFlow (self.rootViewController). Currently on 1.6.2, but the old version can do it.

[2019-01-21 23:43] twittemb commented on #103
Hi

Did have a look at the demo app on the develop branch ? Because it is exactly what I do. You could give it a try ... And test RxFlow 2.0 at the same time.

[2019-01-22 02:18] anhdle14 commented on #103
Yeah i think so too, but i have an error like this:

And in my AppFlow:
[code]

and the `InitialStep = AppStep.Signin`

And i got this error
[code]

[2019-01-22 03:04] anhdle14 commented on #103
Thank you for the support, i will take a look asap. Will report back if there is something unusual.

[2019-01-23 03:34] anhdle14 commented on #103
Thank you, it worked.

[2019-01-23 03:34] #103 closed

[2019-01-28 12:51] twittemb commented on #92
Hi @imtoo

Can you be more precise about your use case and your implementation please?

[2019-01-28 14:38] imtoo commented on #92
Hi @twittemb

Sorry, I had a problem with something else. Specifically with implementation of `RxDataSources`.

[2019-01-28 22:07] pzmudzinski opened #104 "Example is pretty much confusing"
I am doing some tests against this framework since navigation was always tricky in iOS apps.
First of all what is really off-putting is the fact example code will not even compile against current published version (1.6.2).
e.g. this line: `return .one(flowContributor: .contribute(withNextPresentable: viewController, withNextStepper: viewController.viewModel))`

Another thing is description and ide

[2019-01-29 02:08] twittemb commented on #104
Hi @pzmudzinski

You make very good points here.

First, the README you mention is the one for version under development (develop branch): RxFlow 2.0, so it is normal that code samples don't compile with RxFlow 1.6.2. The README corresponding to that version is the one on the master branch (which is now the default branch of the repo to make it clearer).

For the semantic issues you're pointing, I

[2019-01-29 11:52] pzmudzinski commented on #104
Yes I was under impression it represents an action which leads to new navigation state. In another part of example you presented listening for state with this snippet:
[code]
If flow represents some isolated area of app (like Sign-Up flow) and step represents action (like "enteredVerificationCode") then how do you actually listen for user's current screen?
This snippet would print "did navigate to

[2019-01-31 08:38] pzmudzinski commented on #104
Yes, things are more clear now. Thanks!

[2019-01-31 14:17] #104 closed

[2019-02-01 01:21] twittemb commented on #92
Hi everyone,

I intend to release RxFlow 2.0.0 in the coming days. Does anybody have encountered issues with the develop branch ?

Thanks.

[2019-02-01 10:42] MortyMerr commented on #92
@twittemb haven't found any bugs during testing. Can't wait for version 2.0 :)

[2019-02-03 03:35] twittemb commented on #92
Hi guys,

RxFlow 2.0.0 "Enterprise" is released 🎉.

[2019-02-03 21:08] twittemb commented on #92
Hi there.

May I close this issue since there hasn't been any comment about memory leaks for a while now ?

Thanks.

[2019-02-03 21:09] twittemb commented on #83
Hi @fenixsolorzano

There hasn't been any updates here for a while. I close the issue.

Feel free to reach out in case you have questions.

[2019-02-03 21:09] #83 closed

[2019-02-03 21:11] twittemb commented on #94
Hi @AlexisQapa,

Since there is no activity here and the issue seems to have been addressed, I close the thread.

Thanks.

[2019-02-03 21:11] #94 closed

[2019-02-03 21:12] twittemb commented on #80
Hi there,

The use of `Associated Objects` has been greatly reduced in RxFlow 2.0.0.

Since there is no more activity on this issue, I will close it.

Feel free to reach out if you have more questions.

Thanks.

[2019-02-03 21:12] #80 closed

[2019-02-04 00:28] MortyMerr opened #105 "RxFlowStep seems to be quite useless"
I think every developer of this framework always has line `guard let step = step as? MyStep else { return .none }` at the beginning of every `navigate(to:)` method. Even if there is a built-in enum with suitable steps - it is easier to just copy them to my own enum and use it.

I don't think that two switches (one with my steps enum, second with RxFlowStep) is a nice idea either.

Built-in enum ma

[2019-02-04 02:00] twittemb commented on #105
RxFlowStep is in its early stage in terms of conception. I haven't even described an example in the demo app in order to not disturb RxFlow users for now.

It might be useful for describing pretty common and reusable Flows ... perhaps it might not be useful at all ! Who knowns ... but don't be too quick to judge please.

[2019-02-04 02:00] #105 closed

[2019-02-07 13:36] #92 closed

[2019-02-14 09:49] seyhagithub opened #106 "TabBarController"
I got problem with tab bar controller. when i use only one tab it works fine but when i use two tabs the object viewmodel  in viewcontroller is nil. The problem happens when i migrate from 1.x.x to 2.0.0.
Here my code:

AppDelegate
[code]

DashboardFlow

[code]

View Controller

[code]

viewModel.title is nil

[2019-02-14 11:36] vvghost1 commented on #106
.contribute(withNextPresentable: secondFlow, withNextStepper: OneStepper(withSingleStep: Homestep.home))

Is `Homestep.home` in that line mistake? Looks strange. If not, can you share code of SecondFlow?

[2019-02-14 13:44] twittemb commented on #106
Hi @seyhagithub

Can you share the code of your first and second flows because I can't figure out how the ViewModels are created with your example ?

Thanks.

[2019-02-14 14:56] seyhagithub commented on #106
Hi @twittemb, @vvghost1

[code]
Thank in advance.

[2019-02-14 15:16] vvghost1 commented on #106
@seyhagithub you need to look inside `DependencyRegistry` and search if you forgot to setup `ViewController`'s `viewModel` property after creation. As we can see you are not setting up it here, and looks like your problem is not related to RxFlow

[2019-02-14 15:32] seyhagithub commented on #106
@vvghost1 thank for  this comment. My `DependencyRegistry` is swinject. It will resolve related object. First thing first, i think like this too.
[code]

[2019-02-14 15:41] vvghost1 commented on #106
@seyhagithub maybe `title` property in `ViewModel`/`ViewModel2` is `nil` then? :D

[2019-02-14 15:45] seyhagithub commented on #106
@vvghost1 `ViewModel / ViewModel2` is nil not title
[code]

[2019-02-14 15:49] vvghost1 commented on #106
@seyhagithub I dont use storyboard for a while for now, but as I remember `instantiateViewController` method forced `viewDidLoad` to execute, and at that step `viewModel` property didn't setted up yet. If so, you can move your work with `viewModel` to `viewWillAppear`, for example

[2019-02-14 15:57] seyhagithub commented on #106
@vvghost1 My problem is that `viewModel` is nil even we move this property to another event in `ViewController`

[2019-02-14 16:01] vvghost1 commented on #106
@seyhagithub can you share sample project with this behavior?

[2019-02-14 20:46] beretis commented on #106
I had simular problem, I use my own custom implementation of tab bar using ContainerViewController, and I had problem that after I changed tabs, when I came back to the previous tab, FlowCoordinator didn't respond to my Stepper (it got dealocated). I spent few hours debuging and found out that this code is the reason:
[code]
specifically movedToParentSource. I implemented containerViewController a

[2019-02-15 01:24] seyhagithub commented on #106
@vvghost1 here is my[ sample project ](https://github.com/seyhagithub/TestRxFlow). thank for your time

[2019-02-15 09:06] vvghost1 commented on #106
@seyhagithub the issue is in entry point of your app, it is `ViewController` in Main.storyboard. Your app trying to instantiate `ViewController` as described by entry point just after `didFinishLaunchingWithOptions`, this is common process, and FlowCoordinator just don't have chance to take control of window. The solution is easy, just make any safe placeholder entry point. I love solution in RxFl

[2019-02-15 09:43] seyhagithub commented on #106
@vvghost1 wow that's is really useful answer. Thank @vvghost1 it works now.

[2019-02-25 02:40] lm2343635 opened #109 "Deinit FlowCoordinator"
How can I deinit the flows instance of coordinator or the coordinator itself directly.

I mean I want to start a new flow from AppDelegate from a new coordinator and discard the old flows in the old coordinator.

In fact, when I tried to invoke the following method,

[code]

the new flow can be navigated from the root window.
**However**, the memory of the old view controllers and old flows cannot

[2019-02-25 03:43] twittemb commented on #109
Hi @lm2343635

I'm not sure what you are trying to achieve here. FlowCoordinator is not meant to be deallocated/re-instanciated as it is supposed to handle the App navigation during its whole lifecycle.

However, a Flow is deallocated whenever a .end FlowContributor has been emitted or whenever its root viewController has been dismissed.

Could you tell us more about your use case ?

[2019-02-25 04:56] lm2343635 commented on #109
For example, I have a flow named `SigninFlow` which contains view controllers about `sign in` and `sign up`.
A device send requests with an access token after signing in.
When a user tries to change password from one of his device, the app server will invalidate the access token in the other devices of him.
I hope to invoke the `SigninFlow` from any view controller, and show the sign in view contr

[2019-02-25 04:58] lm2343635 commented on #109
If possible, I hope to control back to the first view controller from the current view controller with a single line of code.

[2019-03-08 05:42] sulaiman-mlbd commented on #92
@twittemb Having memory leak issue while restarting a flow after visiting on last end. RxFlow version 1.6.0. Did you  fixed memory leak issue on latest release??

[2019-03-08 17:53] twittemb commented on #92
@sulaiman-mlbd check the version 2.0.0, memory leaks have been addressed: https://github.com/RxSwiftCommunity/RxFlow/releases/tag/2.0.0
Thanks.

[2019-03-09 07:38] sulaiman-mlbd opened #110 "Flow change from a presented viewcontroller create memory leak"
If you present a UIViewController and from that screen you make a step which change flow will create a memory leak by holding the NavigationController with full stack of ViewController within it. That flow is deallocated but the navigation controller and other view controller still exists on memory.

[2019-03-10 14:52] twittemb commented on #109
Please have a look at the demo app because it does something very similar. The flow listens for the connected state of the user, and when it changes to "not connected" it automatically displays a login screen.

[2019-03-10 14:53] twittemb commented on #110
Hi @sulaiman-mlbd

Without more context I won't be able to help. Can you share some code for instance ?

[2019-03-11 01:44] lm2343635 commented on #109
Hi @twittemb,
Thanks for your replying.
I am sorry that I cannot show the app to you because it is a private project.
As what you said in your last comment, I just want to display a login screen I a user changes to the unlogin state, and I hope to back to the root view controller of the app from anywhere with a single line of code.

[2019-03-11 08:51] sulaiman-mlbd commented on #110
![Screenshot 2019-03-11 at 2 47 37 PM](https://user-images.githubusercontent.com/47207931/54110855-a9c3f980-440c-11e9-9ca5-d6e683cd5ef1.png)
See the screenshot, if i present a viewcontroller like `self.rootViewController.present(signInSelectViewContorller, animated: true, completion: nil)` like this on and change the flow from `SignInSelectViewModel` will create a memory leak. I have fixed my issu

[2019-03-11 13:20] twittemb commented on #110
Hi @sulaiman-mlbd

If I get this right, you are trying to present the SignInSelectViewController modally and then you want to move on to another flow.

Don't you want to dismiss the modal screen before navigating to another flow ?

[2019-03-11 18:08] twittemb commented on #109
Please take a look at the AppFlow in the demo app:

[code]

The flow's Stepper reacts to the onboarding state of the user to automatically trigger a step that will be interpreted by the AppFlow to display the Onboarding screens.

[2019-03-12 05:22] sulaiman-mlbd commented on #110
Yes. It was my requirement

[2019-03-14 08:58] vldalx opened #111 "The best practice to pass data backward"
Let's say I have a `SomeViewModel` and a `SomePickerViewModel`.
For example, the `ProfileViewModel` needs a photo from the iPhone Photo library, so it emits a step to open the `AwesomePhotoPicker` screen. If the user chooses an image the one should be passed to the `ProfileViewModel`.
What is the best way to pass any data to the previous step (previous ViewModel)?

[2019-03-14 20:21] twittemb commented on #111
hi @vldalx

The way I do it is:
- define a step that has a associated value, a closure that takes the result you want to pass as a parameter
- in your stepper, when you trigger this step, you pass the closure defining the behavior you want to apply when receiving the result
- in the AwesomePhotoPicker, you store the closure (given to you by the step/flow) and execute it with the good parameter whe

[2019-03-14 21:47] vldalx commented on #111
Hi @twittemb,

Thank you for the answer, you got me thinking about it.

I have an idea to change your approach a little bit. The idea is:
Instead of the closure, I would use an `AnyObserver<SomeData>`.
The stepper (`ProfileViewModel`) has a `PublishSubject` instance and passes `PublishSubject.asObserver()` as the associated value when triggering the step. The stepper is subscribed to the `PublishS

[2019-03-15 03:12] twittemb commented on #111
👍 Passing an observer is something I had also in mind. Thanks for sharing with every one.

May I close the issue ?

[2019-03-15 06:11] vldalx commented on #111
Yes, you may close. Thanks.

[2019-03-15 11:50] #111 closed

[2019-03-18 21:48] snowtema commented on #106
Hello!
How I can create two flows with tab bar which has three tabBarButtoItem's? Thanks!

[2019-03-19 19:45] twittemb commented on #106
Hi @snowtema

Can you elaborate a little bit please ?

thanks

[2019-03-20 00:55] snowtema commented on #106
Hi @twittemb, thanks for the quick response!

I want to create something like these:
<img width="499" alt="Снимок экрана 2019-03-20 в 1 34 06" src="https://user-images.githubusercontent.com/24715092/54646502-48f18c80-4ab0-11e9-8bbd-657c55c49eee.png">

But a Plus button hasn't their own flow, because of its simple modal view controller.

[2019-03-20 00:59] snowtema commented on #106
I mean, can I create these button from standard RxFlow mechanism without any magic code, f.e. adding UIButton above tabBarController.tabBar?

[2019-03-25 18:31] TheFalseFriend opened #112 "Stepper has no effect in basic test implementation"
Hi @twittemb,

I'm looking to try out RxFlow (looks very promising). To this end I've created an extremely simple, two-flow app (each flow having a single screen defined in separate storyboards). Each flow-screen is a plain-old-UIViewController. There is a button on the initial flow-screen; when the user taps this I want to send them to the second flow (no further navigation required after this po

[2019-04-09 15:12] mumensh opened #114 "Stepper broken when present with custom model presentation"
Hi,

I've found a bug with RxFlow, if a step is done with a custom presentation, when dismissing it the steps.accept won't work

Here is how I present the viewController
`let viewModel = ViewModel()`
`let viewController = ViewController.loadFromStoryboard(storyboardNameOrNil: "Main")`
`viewController.viewModel = providerViewModel`
`viewController.modalPresentationStyle = .overFullScreen`
`self.roo

[2019-04-09 16:08] twittemb commented on #114
@mumensh

Thanks for the feedback. I'm gonna try your use case on the demo app and I'll get back to you ASAP.

[2019-04-09 22:45] twittemb commented on #114
@mumensh

what version of RxFlow are you using ?

in the snippet you provided, I can see that you instantiate a ViewModel but set the viewModel property with another one (providerViewModel), is this an error in your snippet ?

When you speak about "custom presentation", is it just about this line `viewController.modalPresentationStyle` ?

When a try to present a modal screen in the demo app (like

[2019-04-10 09:21] mumensh commented on #114
Hi @twittemb, Thank you for your quick reply.

I'm using RxSwift version 2.0.0

I've tried to build a demo to show you the case, please forgive the unorganised code.

to produce the issue, run the demo, open the second tab, then tap on an image then drag the presented image using the pan gesture, make your first try fail (by dragging the image to it's location then make the second attempt of dismi

[2019-04-14 21:46] twittemb commented on #114
Hi @mumensh

I've tried your demo app and I can't reproduce the issue. Can you more specific the way to make it happen.

what I've done:
- launch the app
- go to 2nd tab
- tap on first image -> a new ViewController pops up
- tap and pan the image at its original location -> ViewController is not dismissed
- tap and pan the image to make the ViewController being dismissed -> ViewController is dismi

[2019-04-16 13:37] provswin opened #115 "why rxflowdemo has a black screen after launchScreen?"
why rxflowdemo has a black screen after launchScreen?

in my project, I found there is a black screen after launchScreen, so I checked rxflowdemo and found same problem in the demo.

[2019-04-17 09:33] mumensh commented on #114
@twittemb Thank you for your reply, I've checked the demo and indeed the issue does not exist, but in my project it the issue is their, so, I've did some debugging and after a while I've notice that a change made in another library "Motion" and that change fixed the issue.

The issue was rxVisible was called and set to `false` when trying to dismiss a view controller with `modalPresentationStyle`

[2019-04-17 09:33] #114 closed

[2019-04-18 09:50] provswin commented on #115
@mumensh
thanks for your reply, I am sure my configuration is right.

In demo, ```window.makeKeyAndVisible``` is setted after ```Flows.whenReady```.
I think, maybe ```Flows.whenReady(flow1: appFlow)``` took long time?
During this time, we can only see a black screen.

[code]

[2019-04-22 17:34] leeelton opened #116 "Help on UIStateRestoring"
I'm currently working on a mini-project with RxFlow and have run into a blocker when trying to implement UIStateRestoring.

This is done through implementing `restorationIdentifiers`, `restorationClasses`, and `encodeRestorableState` / `decodeRestorableState` on ViewControllers. With RxFlow, ViewControllers become ignorant of their navigation hierarchy which is managed by the `FlowCoordinator` and

[2019-04-25 14:48] MortyMerr opened #117 "Strange behaviour with UIPageViewController"
I reviewed issues history and see many discussions about `UIPageViewController`. However, I would like to raise that question again.

Here is a sample project: https://github.com/MortyMerr/RxFlowBug

After changing active controller (swipe left, swipe right) steps are not being handled. Obviously, it's because of `rxDismissed` behavior

If you think this is ok, please feel free to close the issue.

[2019-04-25 15:14] MortyMerr commented on #100
Hi, i have the same problem. Attached sample project here - https://github.com/RxSwiftCommunity/RxFlow/issues/117

[2019-04-30 03:12] DhbStudy commented on #112
You write
self.coordinator.coordinate(flow: appFlow, with: AppStepper())
then I think you can't init another AppStepper() in your UIViewController. You can change your struct.

[2019-05-03 00:56] twittemb commented on #116
Hi there,

honestly, I've never used `UIStateRestoring`. Would you be able to provide a sample of your app ?

[2019-05-03 00:58] twittemb commented on #109
Hi there,

as there is not much activity on this thread, I will close the issue. Feel free to reopen it if you think this is relevant

[2019-05-03 00:58] #109 closed

[2019-05-03 01:05] leeelton commented on #116
https://github.com/leeelton/app-architecture/tree/master/Recordings-MVVM-C

it's a fork of a repo that I was rewriting to learn more about RxFlow. I've given it some thought and this is most likely just a limitation of the UIStateRestoration API. It looks like the best solution would most likely to implement my own state restoration, saving objects to Core Data or something similar to recreate the

[2019-05-03 01:05] #116 closed

[2019-05-03 16:31] bobkexit opened #119 "Project(swift 5) doesn't build after installation RxFlow"
PodFile:

[code]

After installation RxFlow, I tried build project and got error:

![image](https://user-images.githubusercontent.com/5675375/57151044-fe6a6c00-6de0-11e9-933d-eb59c5ce4625.png)

[2019-05-05 07:19] Willicious-k commented on #119
Same error happened to me in both versions (2.2.0 / 2.1.0)

[2019-05-05 08:31] Willicious-k commented on #119
https://github.com/RxSwiftCommunity/RxFlow/pull/118/files#diff-6236ced41531433350267fc331031515R67

Seems like this issue has been already fixed, but not released yet.

[2019-05-07 01:18] twittemb commented on #119
Hi There

I will release a version with the merged PR asap.

Stay tuned

[2019-05-08 02:52] twittemb commented on #119
Can you try in the last release please ?

[2019-05-08 03:17] Willicious-k commented on #119
Build error has resolved in 2.3.0. (with RxSwift ~> 5.0.0)

Thank you @twittemb

[2019-05-08 03:18] twittemb commented on #119
Nice to hear 👌

[2019-05-08 03:18] #119 closed

[2019-05-14 15:20] nexig commented on #115
Hi Guys, have sam problem.
@provswin  could you show you appFlow class here?
I checked it very carefully and I think the problem is not with Flows.whenReady that you show above, but with first step in AppFlow that you navigate. I predict that your root in appFlow is UINavigationController and it window is set correctly. The problem is with first viewController that will be present on your appFlow

[2019-05-17 16:57] MortyMerr opened #120 "Handle .multiple(.forwardToCurrentFlow)"
FlowCoordinator: 60
[code]
all steps wrapped in .multiple just ignored here. So `.multiple(.forwardToCurrentFlow, .forwardToCurrentFlow)` this will be ignored. Is it required behaviour?

[2019-06-04 06:34] danilovdev commented on #43
@twittemb
Hi, what status of deep linking now?

[2019-07-19 11:34] benjohnde commented on #43
I got a somehow "hacky" approach, which works pretty fine for us!

https://gist.github.com/benjohnde/837bc9cba765456b5227ee551a15280c

[2019-07-28 20:10] benjohnde commented on #43
A proper approach would mean to "go" to the initial state of the main flow and then navigate up, depending on the deep linking action. Having said that we also thought about having a separate `DeepLinkingFlow` which is kind of tricky because we do not have the functionality to invoke `.multiple` Flows. But this has changed cf. #121. I am going to give it another shot.

[2019-07-29 16:30] twittemb commented on #43
Thanks for the insight @benjohnde

I will release a 2.4.0 this week with the .multiple feature.

[2019-08-08 14:56] MasterWatcher opened #122 "Logout and deinit child flows"
Hi! First of all, thank you for such a great navigation framework.

I use RxFlow in my app and I would like to logout from an app by changing root view controller and deinit whole stack of flows (with theirs view controllers). Logout can be triggered from any part of the app (invalid access token), so `.end (forwardToParentFlowWithStep: Step)` is not an option. RxFlowDemo doesn't illustrate such c

[2019-08-09 09:50] MortyMerr commented on #122
Hi, I think that the proper solution would be recreate whole RxFlow stack:
[code]
I wonder if @twittemb has better option

[2019-08-09 09:50] MortyMerr commented on #120
Resolved

[2019-08-09 09:50] #120 closed

[2019-08-09 09:56] MortyMerr commented on #43
@twittemb any update on that?

[2019-08-12 11:48] isaac-weisberg opened #123 "Why Obj-C runtime dependency though?"
I've been browsing the source code and I noticed usage of `objc_getAssociatedObject` and `objc_sync_enter`. However, whichever thing get's put into the latter is not even necessarily an NSObject. I was wondering, is it, like, just old and that's why we have these artifacts?

[2019-08-12 23:09] twittemb commented on #122
Hi @MasterWatcher

Is it an option for you to have a global AppStep.logout that can be emitted by any stepper and handled by any flow ?

In each flow you could react to this step by returning a .end (forwardToParentFlowWithStep: Step) flowContributor in cascade to the root Flow. In the root Flow you could react to this step by replacing the UIWindow's root VienController by a new one. It supposes

[2019-08-13 15:20] isaac-weisberg opened #124 "What is warp?"
https://github.com/RxSwiftCommunity/RxFlow/blob/eeb06aff40e7e5a06274d86f4193102612e2baa2/RxFlow/Presentable.swift#L17

I've been browsing the source code and got just a tiny bit confused, you meant Flow, what, was it renamed at some point?

[2019-08-15 06:56] #122 closed

[2019-09-13 22:02] twittemb commented on #124
Hi @isaac-weisberg

It was from a previous naming in the project. I fixed it.

Thanks.

[2019-09-13 22:02] #124 closed

[2019-09-23 07:20] MortyMerr opened #127 "Update README.md with SPM Installation guide"

[2019-09-30 00:58] rynecheow commented on #127
@twittemb Are we planning to do a release anytime soon?

[2019-10-03 21:11] MortyMerr commented on #127
@twittemb could u please provide soft estimates about 2.5.0 release?
Also what do you think about removing 1.x.x -> 2.x.x migration guide? Or at least moving it to separate .md file. It might be terrifying for new users to see this big breaking changes list. Old users had a lot of time to migrate :)

[2019-10-05 01:08] twittemb commented on #127
I think I Will release a 2.5.0 this weekend

[2019-10-07 04:08] MortyMerr commented on #127
Resolved

[2019-10-07 04:08] #127 closed

[2019-10-10 20:52] MortyMerr opened #130 "Unable to infer closure type in the current context"
<img width="939" alt="Screen Shot 2019-10-10 at 1 51 11 PM" src="https://user-images.githubusercontent.com/35256133/66605515-19e25b80-eb65-11e9-8c81-da2896675a2a.png">
Get this error using Xcode 11 and RxFlow 2.5.0
Tried clean & deleting derived data few times

[2019-10-10 20:56] #130 closed

[2019-10-16 19:23] twittemb opened #131 "Allow navigation when screen not on top of hierarchy"
For now, steps are ignored within a flow if there are emitted by a Stepper attached to a presentable that is not currently on the top of the view hierarchy.

We should allow the listening under certain circumstances (for instance when passing a dedicated parameter in a FlowContributor).

[2019-10-18 02:55] twittemb commented on #131
addressed in that PR: #132

[2019-11-20 04:49] mgray88 opened #134 "Emit step in readyToEmitSteps"
The functionality I'm attempting to achieve is have my view model (as a Stepper) conditionally emit the next step as it's loaded. Logically it seems the way to do this would be to `accept` my step in `readyToEmitSteps` so that I know the subscriber (coordinator) is listening for steps.

It works fine if an Rx network request is fired off and `steps.accept` is called in `onSuccess/onError`. It also

[2019-11-21 16:14] twittemb commented on #134
Hi @mgray88

Can you share some code in order to have more context ?

Thanks.

[2019-11-21 16:33] mgray88 commented on #134
[code]

Semantically, it seems `readyToEmitSteps` doesn't actually mean it's ready

[2019-11-25 18:24] #131 closed

[2019-12-03 00:44] paulmeyerle opened #135 "Combine Support?"
Now that apple has released SwiftUI & Combine are there any initiatives to port this project from RxSwift to Combine?

[2019-12-05 02:53] twittemb commented on #135
Hi @paulmeyerle

It is a good question :-)

It could make sens to have a "CombineFlow" BUT with it would have a limited future since SwiftUI will gain in strength in the years to come, bringing other paradigms of navigation.

If there is a CombineFlow, it might be made differently than RxFlow in order to match the SwiftUI constraints.

Short answer: I'm not considering a Combine version right now

[2019-12-12 14:54] jorgelub12 commented on #115
Is there any workaround for this?

[2020-01-25 06:51] MPuskels opened #143 "Flows.whenReady is not fired."
Could not process to the next screen when `.nextScreen` step is fired. `Flows.whenReady` never gets called.

[code]

Demo project can be downloaded [here](https://gitlab.com/Puskels/rxflowissue.git)

Using
[code]

[2020-02-02 22:46] twittemb commented on #143
Hi @MPuskels

For Flows.whenReady to be fired, the destination flow (NextFlow here) has to resolve its first step. In your case when you return `return .one(flowContributor: .contribute(withNextPresentable: rootViewController, withNextStepper: rootViewController))`, there is no step emitted so NextFlow is never ready.

I've attached a project that should do what you want. It is a base for you to c

[2020-02-03 19:55] twittemb commented on #143
Hi @MPuskels

Does that help ?

if yes, may I close the issue ?

Thanks.

[2020-02-03 20:53] MPuskels commented on #143
@twittemb Thanks for looking at. I miss that part from documentation and tutorials.

Look like solved!

[2020-02-03 21:05] twittemb commented on #143
Happy yo help.

[2020-02-03 21:05] #143 closed

[2020-02-25 19:53] lukasburns opened #145 "Unbalanced calls to begin/end transition warning when using TabBar"
Hi, ive managed to hook up RxFlow to my proyect which currently has an AppFlow which shows a MainFlow, but im getting a warning
`Unbalanced calls to begin/end appearance transitions for <UIViewController: 0x7fc7e77079f0>`

AppFlows's root is a UINavigationController while
MainFlow's  root is a UITabBarController with 3 tabs( 1 flow for each tab ).
The code on my navigateToMain in MainFlow is as fo

[2020-02-26 16:29] twittemb commented on #145
Hi @lukasburns

Can you share the whole project ?

Thanks.

[2020-04-30 19:42] sree127 commented on #88
We are currently facing a similar issue as well. I can share more insights in a new issue

[2020-04-30 19:57] sree127 commented on #88
OK. Fixed it after setting `allowStepWhenNotPresented` to true :)

[2020-05-04 03:34] SymBooler commented on #115
same issue， anyone solved this problem？

[2020-05-05 00:49] twittemb commented on #115
Hi everyone,

This is the next thing on my todo list.

[2020-05-09 23:25] twittemb commented on #115
Hi everyone,

The black screen was due to way the bootstrap sequence was done. Coordination has to happen before the root of the window is set.
You can try this. It should fix your problem:

[code]

[2020-05-11 08:21] nexig commented on #115
Hi @twittemb

It work for Flows with NavigationController as root. But I have Flow with UITabBarController with 4 items and black screen still appear.

[2020-05-11 16:25] supervtb commented on #106
@twittemb  Hi, I have some issue with tabbar, deep link and presented view controller, maybe you could explain right way for flow?
case: User open main screen, choose 2 tab bar item (for eg), then in this place open next view controller (with present function), then user go to the safari and open deeplink (after it app have to switched to the 1 tab and push view controller)
But instead. App switch

[2020-05-13 17:50] SymBooler commented on #115
Hi @twittemb, I get same issue as  @nexig.  my UITabBarController have 3 viewcontroller, [vc1, vc2, vc3]. If I call sleep(2) in vc1 function viewdidload, black screen lasts 2 seconds.
 Did you gays found solutions?

[2020-05-13 23:59] twittemb commented on #115
@nexig and @SymBooler can you share some code please ?

[2020-05-14 14:16] twittemb commented on #43
Hi guys,

after a looooong time and many requests to address DeepLink, here is an attempt to make it. I'm interested in feedback from the community: https://github.com/RxSwiftCommunity/RxFlow/pull/147

[2020-05-14 14:17] twittemb commented on #106
Hi @supervtb

Here is an attempt to handle deep links with RxFlow -> https://github.com/RxSwiftCommunity/RxFlow/pull/147

 I would be interested in your feedback if you could try this branch against your code base.

Thanks.

[2020-05-14 21:16] twittemb commented on #145
Hi @lukasburns

I remember a workaround I had to use for such a message in the RxFlow Demo Application:
Take a look at the `DispatchQueue.main.async`
[code]

Not sure it will help. Please note this is a workaround and should not have to be done but I have to dig further to make it right.

[2020-05-14 21:17] #135 closed

[2020-05-14 22:31] twittemb commented on #115
@SymBooler

Basically RxFlow will wait for the flows to be ready (if you use Flows.whenReady to call the closure in Flows.whenReady. It means that all the flows/sub flows must have resolved their first step. It does not mean that it waits for the all the children VCs to be displayed before calling whenReady.

Waiting for 2s in the viewDidLoad will freeze the display even in a non RxFlow app.

[2020-05-16 19:20] twittemb commented on #115
@nexig, @SymBooler @jorgelub12, @provswin

Could you give a try on the new branch -> https://github.com/RxSwiftCommunity/RxFlow/tree/feature/combine-flows

Flows.whenReady is deprecated on this branch.

There is new function:
[code]

when passing .created, RxFlow won't wait for any step to be triggered before execution the block. The demo app has been updated to reflect that.

I'm really intereste

[2020-05-18 14:46] SymBooler commented on #115
@twittemb Sorry for late. How could I give you the demo.
1. appDelegate
[code]
2. AppFlow
[code]
3.SchemeFlow
[code]

[2020-05-19 11:34] SymBooler commented on #115
@twittemb Hello，it's works when I use the [new branch]( https://github.com/RxSwiftCommunity/RxFlow/tree/feature/combine-flows)
**Could you tell me why i can't use ready?  I am confused!**
thank you.

[2020-05-20 00:46] twittemb commented on #115
Hi @SymBooler

You can use either .created or .ready. Both are valid but I would say that for the app launch perhaps .created is more adapted since there will be no lag between flows creation and their display as the root.

[2020-05-20 10:35] SymBooler commented on #115
thanks for your help

[2020-05-21 18:56] sree127 opened #149 "Pass data between modally presented ViewController"
First of all, thanks a lot of creating this awesome library and kudos to all the maintainers 💪

#### Problem
I have been scratching my head over the past few days to implement a clean way to pass data between a modally presented ViewController and the parent controller.

#### Sample code

In `ABCFlow`

    if let step = step as? ABCStep {
      switch step {
      case .addressInput(selectedCountr

[2020-05-22 03:33] twittemb commented on #149
Hi @sree127

Thanks for your kind words.

Usually, if I want to retrieve a data from a modal I use a step with a callback closure inside.

Let’s say we have a root ViewController that wants to display a modal. The VC can emit a step with a closure as a parameter: AppStep.modalIsRequired(block: { output -> print(output) }).
The AppStep.modalIsRequired definition is:

enum AppStep {
    case modalIs

[2020-05-22 10:35] sree127 commented on #149
Hi @twittemb,

Yessss, makes total sense. That should work :) Thanks a lot for the tip 👍

[2020-05-22 10:35] #149 closed

[2020-05-26 18:57] mgray88 opened #150 "Latest release (2.9.0) is tagged at the wrong commit"

[2020-05-26 19:18] twittemb commented on #150
Hi @mgray88

oops, should be good now.

Thanks.

[2020-05-26 19:18] #150 closed

[2020-05-26 19:20] mgray88 commented on #150
Thanks for the quick response!

[2020-05-29 00:22] twittemb commented on #115
Hi everyone.

May I close this issue after the release of the version 2.9.0 ?

[2020-05-31 22:00] #115 closed

[2020-06-02 18:32] wintermoon9 opened #151 "Child view controller steps"
Hi,

I have a custom view controller that lets the user switch between different view controllers. When a VC is selected, it's embedded in a container view.

[code]

My Flow then does this...

[code]

When I first open the main VC, flow A will be presented. I can interact with the view and will receive steps in FlowA. If I switch to Flow B, the container removes Flow A's root and then adds Flow B'

[2020-06-04 18:06] wintermoon9 commented on #106
@beretis How did you end up fixing this ? Having the same problem with a custom tab bar.

[2020-06-10 16:57] kean opened #152 "Please document memory management"
Hi, It would be fantastic to add a section in the documentation regarding memory management. For example, it is not entirely clear whether `FlowCoordinator` retains its contributors or parts of the contributors (presentable? stepper?) and, if yes, when they get deallocated. Is there any difference when the presentable is a `Flow`?

[2020-07-09 11:04] nexig commented on #115
@twittemb

Black screen still appears in my app. Take a look on my code. I think problem could be with return .multiple() FlowContributors.

AppFlow
`Flows.use(dashboardFlow, when: .ready) { [unowned self] root  in
            self.window.rootViewController = root
            self.window.makeKeyAndVisible()
        }
        return .one(flowContributor: .contribute(withNextPresentable: dashboardFl

[2020-07-31 07:58] bryan-vh commented on #145
Any update on this, for some reason I can't even present another view controller on top of a root view controller that is a UIViewController without the error: Warning: Attempt to present <UIViewController: 0x10750e8e0> on <UIViewController: 0x1075d3480> whose view is not in the window hierarchy!

[2020-08-01 21:39] twittemb commented on #145
Hi @bryan-vh

can you share your flows ?

thanks.

[2020-08-11 01:20] wintermoon9 commented on #152
I'm also wondering about this because my app is experiencing quite large memory leaks with RxFlow. Is this project alive??

[2020-08-11 01:34] wintermoon9 commented on #106
Does anyone know about the above ^ is this project alive ?

[2020-08-11 02:24] twittemb commented on #152
Hi there,

Yep the project is alive :-)

We are using RxFlow is several production app and we are not experiencing memory leaks. Can you tell me a bit more about your issues ?

Thanks.

[2020-08-11 06:38] beretis commented on #106
@wintermoon9 I did fix it, let me find the solution and help you.

[2020-08-22 17:43] nflahavan opened #153 "CompositeStepper not calling InnerSteppers readyToEmitSteps"
I'm using `CompositeStepper` to combine my custom `Stepper` with another `Stepper`. I assumed in the `CompositeStepper` `readyToEmitSteps()` method my custom `Stepper`'s `readyToEmitSteps()` method would be called. This is not the case.

Is this intentional, and if so why? If not, would you be open to a PR to loop through a `CompositeStepper`'s `innerSteppers` and call their `readyToEmitSteps()` m

[2020-08-23 20:36] twittemb commented on #153
great thanks a lot. I'll try to review in the coming days.

[2020-08-29 20:46] twittemb commented on #153
I've reviewed the PR. I have a minor comment.

I close this issue, since it is being addressed.

Thanks.

[2020-08-29 20:46] #153 closed

[2020-09-09 18:47] sergeifabian opened #155 "Block links are invalid"
Hello! Can't check documentation, looks like links was broken

[2020-09-10 01:19] twittemb commented on #155
Hi, thanks for the issue.

It should be good now

https://github.com/RxSwiftCommunity/RxFlow/releases/tag/2.9.1

[2020-09-10 01:19] #155 closed

[2020-09-10 20:17] CodingAleCR commented on #103
Hi, since the repository linked is no longer available.. would you mind sharing a bit more about the approach taken?

[2020-09-10 22:43] twittemb commented on #103
Hi

I don’t remember exactly but I think it was about passing the UINavigationController from the AppFlow to the sub flow.
In the sub flow, the root view controller would be the UINavigationController passed in the initialization.

[code]

[2020-09-17 03:36] rynecheow commented on #117
@twittemb Can we look at a solution to this, starting with a suggestion that @MortyMerr has got?

[2020-09-17 17:51] rickrvo opened #156 "Something strange happening in ios14"
I have the following code which was working in ios 13:

[code]

the code inside DispatchQueue.main.asyncAfter is never fired. If I take out the dispatchqueue and run it normally inside the whenReady closure the print("REPLACING - \(step.self)") gets printed.

I tried lots of combinations and it worked once! but then I run again and it failed again... the changes I made to work was to change
`Flows

[2020-09-17 17:56] fedapollo commented on #156
I had the same issue when update my xcode today

[2020-09-18 01:30] lihao6485 commented on #117
I have tried to fix this issue by adding an optional parent presentable, so if the parent is provided, we will monitor the parent `rxDismissed` instead of the child one.

Here is the detailed implementation: https://github.com/lihao6485/RxFlow/commit/4f8c9897da7674d92388640051bf2d7df4b84491

The idea is we should observe the parent (UIPageViewController) `rxDismissed` instead of the child.

Do you

[2020-09-18 01:54] rynecheow commented on #117
@lihao6485 Able to create a PR from the fork for review?

[2020-09-18 21:10] nflahavan commented on #134
I just ran into this issue today. When I try and emit a step in `readyToEmitSteps()` it gets lost. I'll try and make some tests that can prove this behavior.

[2020-10-01 09:11] sukhanovevgeniy96 opened #158 "unknown dependency 'RxCocoa' in target 'RxFlow'"
<img width="429" alt="Screenshot 2020-10-01 at 12 09 09" src="https://user-images.githubusercontent.com/22646611/94790410-eb493a80-03de-11eb-9bfe-1bf95a9500d0.png">

I suppose it happened after had moved to swift-tools-version:5.3. Everything OK on branch feature/swift-5-3

[2020-10-01 18:37] nflahavan commented on #134
@mgray88 Were you using `CompositeStepper` by any chance? I can write a test that fails when using a composite stepper

[code]

[2020-10-01 22:16] mgray88 commented on #134
It's been a while, but I don't think I was

[2020-10-01 23:21] twittemb commented on #158
Hi

Have you tried the last release 2.10.0 ?

[2020-10-02 08:08] sukhanovevgeniy96 commented on #158
Yes, the same issue

[2020-10-02 14:40] twittemb commented on #158
What dependency manager are you using ?

[2020-10-03 06:33] sukhanovevgeniy96 commented on #158
I made an example of my issue. I created empty swift package and added RxFlow
https://github.com/sukhanovevgeniy96/DemoRxFlow

I used Xcode Version 12.0.1 (12A7300) and swift-tools-version:5.3

[2020-10-03 06:48] sukhanovevgeniy96 commented on #158
https://github.com/RxSwiftCommunity/RxFlow/pull/159

[2020-10-04 02:01] twittemb commented on #158
This is merged. Thanks a lot.

[2020-10-04 02:01] #158 closed

[2020-10-04 02:03] twittemb commented on #117
The PR is under review ... hope to merge it tomorrow. Thanks.

[2020-10-04 18:12] twittemb commented on #117
PR https://github.com/RxSwiftCommunity/RxFlow/pull/157 has been merged. There is an example in the demo app. Thanks to @lihao6485 for the contribution. I guess he can help you guys if you have issues with his example.

I will close this issue until further needs appear regarding UIPageViewControllers.

[2020-10-04 18:12] #117 closed

[2020-10-05 07:18] onsissond commented on #158
@twittemb Could you added new tag for fetching this changes?

[2020-10-14 19:39] BenMaer-Parkwood opened #160 "`Reactive+UIViewController`'s `dismissed` event is retaining the view controller"
In `Reactive+UIViewController.swift`, we have event `var dismissed: ControlEvent<Bool>`. Using this event ends up retaining the view controller that `.rx` is called on. This means that if this `.rx.dismissed` is subscribed to on a UIViewController, and the subscription isn't killed on the event call, the vc will never get released from memory.

Inside the body of `dismissed`, we have the following

[2020-10-17 00:38] nflahavan commented on #106
Should the definition of `rxDismissed` be `self.rx.dismissed.filter { $0 }.map { _ -> Void in return Void() }.take(1).asSingle()`?

[2020-10-18 21:02] twittemb commented on #95
Since there is now a function on the FlowCoordinator that can be used to propagate a step from the AppDelegate, I consider this issue closed. Feel free to reopen if you do not agree.
Thanks.

[2020-10-18 21:02] #95 closed

[2020-10-18 21:04] twittemb commented on #43
Since there is no activity on this issue and no negative feedback for the PR https://github.com/RxSwiftCommunity/RxFlow/pull/147, I close it. Feel free to reopen.
Thanks.

[2020-10-18 21:04] #43 closed

[2020-10-18 21:05] twittemb commented on #100
This should have been addressed in the release 2.11.0 https://github.com/RxSwiftCommunity/RxFlow/releases/tag/2.11.0.
The demo app has been upgraded with a UIPageController example.
I close the issue. Feel free to reopen if you don't think it has been addressed.

[2020-10-18 21:05] #100 closed

[2020-10-20 15:45] BenMaer-Parkwood commented on #160
@twittemb Should I close this issue now that the PR is merged?

[2020-10-20 15:48] twittemb commented on #160
Yes I will close it.

Thanks for your contribution.

[2020-10-20 15:48] #160 closed

[2020-10-23 09:38] ssaluk commented on #134
I'm not sure if this is the same problem but I noticed that for flow contributors readyToEmitSteps is actually called upon subscription and this can happen before rxVisible emits true, so .

https://github.com/RxSwiftCommunity/RxFlow/blob/ccf32fd783f948a575fe89749f43e81ddc59e11f/RxFlow/FlowCoordinator.swift#L184

[2020-10-29 11:45] PierreBrisorgueil commented on #145
hello @twittemb I'm working on a stack and I have the same concerns. As there was no feedback to reproduce the bug it is reproducible on my stack.

https://github.com/weareopensource/Swift
- email: test@waos.me
- password: TestWaos@2019

produced in navigationToDashboardScreen(),  I'm digging into the subject a bit, but I haven't found a solution yet. DispatchQueue.main.async seems not to work.

(

[2020-10-30 17:18] nflahavan opened #162 "Question regarding intended behavior of FlowCoordinator's navigate(to:) function"
tldr: child flows created as a result of calling `navigate(to:)` get the step passed to the aforementioned function. Is that intended?

I've found some behavior that I'm wondering if is intended or not. Given the following:
[code]

If I coordinate `AppFlow` with a coordinator like so:
[code]
And then eventually somewhere else in the app call:
[code]
I find that `PostLoginFlow` which was created as

[2020-11-09 03:36] unreg-rea opened #163 "Flow.rxVisible never emits `true` event when pushing view controller without animations"
Hi @twittemb,

Thank you for your great library. I've had a problem when applying RxFlow in my project. Whenever I push a view controller into navigation stack without animation, I cannot emit any further steps.

This is my navigation code:
`            Flows.use(myFlow, when: .created) { [unowned self] (root) in
                // TODO: animate = false not working??
                self.navigatio

[2020-11-19 22:24] Gabriel-Azevedo commented on #162
I have the same problem and @nflahavan code fixed it as well.
Interested to learn how can I make it work on the original code since I don't want to fork RxFlow.

[2020-12-21 21:38] pierre-wehbe commented on #151
Any updates on that one?

[2021-01-23 03:29] MatrixSenpai opened #167 "Coordinator navigate(to: ) does not override initialStep"
For the main/initial flow, I've set the `initialStep` property to what the entry point to my app should be. However, the app may be opened through a share extension. When that is the case, using `coordinator.navigate(to: )` does _not_ override the initial step, and said step opens. This _only_ occurs if the app is not already running. If it's already open, the extension shares and opens as expecte

[2021-01-24 19:42] twittemb commented on #167
Hi @MatrixSenpai

If I understand correctly:

- if the app is already running: the `coordinator.navigate(to:)` works fine, and the navigation occurs thanks to the AppStep.view(id:) step
- if the app is not running and opened thanks to the deep link, then first the initialStep is processed to go to some home screen, and then the deep link makes the AppStep.view(id:) to be processed, so you have lik

[2021-01-25 00:05] MatrixSenpai commented on #167
Your first point is correct. However, when the app is _not_ open, AppStep.view(id: ) is never called

[2021-01-25 02:04] twittemb commented on #167
Is it ok to share you whole project so I can take a look ?

[2021-01-25 03:00] MatrixSenpai commented on #167
Please see this repo: https://github.com/LiveTL/ios

[2021-01-25 14:28] twittemb commented on #167
Thanks a bunch. Is there an easy way to trigger the scheme ?

[2021-01-25 19:49] MatrixSenpai commented on #167
Ensure the app is not running in the background. Head to YouTube in either Safari or the YT app and share a video. In the action sheet, "Translate in LiveTL" should appear (if it does not, try restarting or run the extension scheme attached to safari or yt). The app will go to .home instead of .view(id: )

[2021-01-25 20:46] twittemb commented on #167
Ok, will do. Thanks for providing all those details. That will help to explore the issue.

[2021-01-29 01:17] twittemb commented on #167
Hey @MatrixSenpai

After a few tests, I noticed that the `func scene(_ scene: UIScene, openURLContexts URLContexts: Set<UIOpenURLContext>)` is not called when you share a video from Youtube and the application is not running.

You can reproduce that by playing a sound or an haptic feedback in this functions.

I'm not sure this is related to RxFlow. Have you tried an RxFlow free version of your app

[2021-01-29 02:36] MatrixSenpai commented on #167
Interesting, I have not. That doesn't make sense though, because it opens the app…I'll do some further testing and report back

[2021-01-31 08:32] MatrixSenpai commented on #167
So, interesting to note that `UIApplication.application(app:, open url:, options:)` does actually fire, while `SceneDelegate.scene(scene:, openURLContexts: )` does not. Appears to be an inconsistency within Apple's platform, so I'm gonna go ahead and close this issue and try to find a workaround

[2021-01-31 08:32] #167 closed

[2021-02-27 18:06] sree127 opened #168 "How to handle opening multiple flows upon clicking a deeplink"
### Scenario & use case
1. Deeplink with a scheme: `app://settings/account` is clicked and a step is forwarded to all the flows by the coordinator
2. Deeplink.step is consumed by `MainFlow`
3. `MainFlow` then opens `SettingsFlow`
4. `SettingsFlow` then opens `AccountFlow`

### Current working code
#### From the `MainFlow`
[code]

#### From the `SettingsFlow`

[code]

As you can see, the current wa

[2021-03-02 20:01] sree127 commented on #163
Have you tried with `Flows.use(myFlow, when: .ready)`

[2021-05-19 13:17] MrAsterisco opened #172 "Adapt step in the background causes `navigate` to be called on the same thread"
### Scenario
I am making use of RxFlow's `adapt` function to observe resources from a local database to decide which step should be emitted next. The observation needs to happen on a background thread, to allow the main thread to continue showing a loading animation, so I'm switching with the `subscribeOn` and `observeOn` operators. Eventually, the database retrieves the value and the appropriate

[2021-05-20 21:15] twittemb commented on #172
Hi @MrAsterisco

thanks for bringing that up. I think this is a regression in the last version.

The reactive stream used to be a Signal from the start (which guarantees no error and the main thread), and it is no longer the case since the last release. I will fix that.

thanks.

[2021-05-21 06:41] MrAsterisco commented on #172
@twittemb Ah! I was actually wondering why this never happened before, but I wasn't sure.

Thanks for taking care!

[2021-05-22 21:49] twittemb commented on #172
@MrAsterisco

I've released a new version 2.12.2. Can you give it a try please ?

https://github.com/RxSwiftCommunity/RxFlow/releases/tag/2.12.2

[2021-05-25 16:34] twittemb commented on #172
@MrAsterisco any update ?

[2021-05-25 16:36] MrAsterisco commented on #172
@twittemb sorry, I couldn't find a free time slot to work on this today. I will tackle it tomorrow and update here.

[2021-05-26 15:17] MrAsterisco commented on #172
@twittemb quick update, seems to be working as it used to! I will run some more tests over the rest of the week, but I would say we can close this issue for now. I'll reopen it if anything comes up.

Thank you!

[2021-05-26 15:17] #172 closed

[2021-06-28 07:37] erginbilgin opened #175 "Reentrancy anomaly on .forwardToCurrentFlow"
Using .forwardToCurrentFlow(withStep:) causes a reentrancy anomaly. It is observable on demo project as well, right after SettingsFlow:93 (Run demo app and tap on settings button).

[2021-07-26 15:40] erginbilgin commented on #175
@twittemb Are you still maintaining the project?

[2021-08-02 07:56] twittemb commented on #175
@erginbilgin Hi, thanks for reaching. I'm still maintaining the project, I was on vacation with no computer ☺️.
I will check this issue ASAP.

[2021-08-04 09:26] erginbilgin commented on #151
Is this issue resolved?

[2021-08-04 09:51] erginbilgin opened #176 "Cannot step in child flow after using .multiple with .forwardToCurrentFlow, and others."
When I'm giving control to multiple flows using a tabBar, after Flows.use, I have something like following (I tried both `ExecuteStrategy`'s.):

[code]

In this case, I cannot register steps in sub flows. It only registers the initial steps I give in OneStepper but after that no steps are registered.

Everything works fine if I remove `.forwardToCurrentFlow(withStep: TabBarStep.tabBarIsReady)` fro

[2021-08-16 09:50] twittemb commented on #175
Hey @erginbilgin, could you give it another try on the branch feature/bump-deps (please perform a Carthage bootstrap because the deps have been bumped)

thanks.

[2021-08-17 10:34] erginbilgin commented on #175
@twittemb I will do at the first opportunity I find. 👍 Did you have a chance to check the other issue which I opened? https://github.com/RxSwiftCommunity/RxFlow/issues/176

[2021-08-18 16:15] twittemb commented on #175
@erginbilgin can you try the new 2.12.4 release please ?

[2021-08-19 07:21] erginbilgin commented on #175
It is not available yet in CocoaPods as I see. Will you push there soon?

[2021-08-19 12:14] twittemb commented on #175
I've just released it :-)

[2021-08-20 08:55] erginbilgin commented on #175
@twittemb Sorry for delay. Just tested it and warnings are gone. Seems like https://github.com/RxSwiftCommunity/RxFlow/issues/176 is solved too. Amazing. Thanks!

[2021-08-20 08:56] twittemb commented on #175
Hey @erginbilgin

Happy to hear that.

Feel free to close the issues if you think they are resolved.

Bye.

[2021-08-20 09:01] #175 closed

[2021-08-20 09:02] erginbilgin commented on #176
Looks like resolved in `2.12.4` with https://github.com/RxSwiftCommunity/RxFlow/issues/175

[2021-08-20 09:02] #176 closed

[2021-08-23 10:50] erginbilgin opened #179 "How to handle searchResultsController"
As mentioned in [documentation](https://developer.apple.com/documentation/uikit/uisearchcontroller/1618649-searchresultscontroller) searchResultsController is shown by SearchController automatically, when users search something.
Since this is done automatically, I cannot find a way to include integrate this into the Flow. Is there a solution for this?

[2021-10-29 22:44] dylanmoo commented on #162
I agree that the proposed solution from @nflahavan would benefit my case as well!

[2021-10-29 22:53] eleusiv3 commented on #115
@twittemb @nexig any updates on this? I also still get the black screen with uittabbarcontroller

[2021-12-10 16:37] claustrofob opened #181 "Child controllers are never deallocated"
If a flow contributor was initialised with `allowStepWhenDismissed: true` then all its immediate child controllers that provide flow contributors are never deallocated.

The bug is reproducible on RxFlowDemo as well:
1. In `DashboardFlow.navigateToDashboard()` set:
[code]
2. In app go to Wishlist -> Movie Details Screen. Then go back and verify that `MovieDetailViewController` was not deallocated.

[2021-12-13 07:21] #179 closed

[2021-12-22 11:52] erginbilgin commented on #181
Is there any update on this one? It seems to be the case for me too.

[2021-12-26 17:01] sergs582 commented on #181
Same situation. Not deallocated VCs result in not disposed subscriptions

[2021-12-29 15:53] twittemb commented on #181
Hi,

Sorry for the late answer, I’ll try to take a look ASAP.

[2022-03-14 14:07] mgray88 commented on #134
Following up to @ssaluk, I would say that is indeed the issue here. The workaround I posted above has been in our codebase since then, and _mostly_ worked fine, except we had random unreproducible app "hangs." The async code would sometimes run fast enough to be essentially synchronous causing steps to be published before they were ready to be consumed.

I don't know if that's documented anywhere,

[2022-04-04 13:53] mashe opened #183 "Adapt method is disposed before being completed"
When calculations in `adapt` method take some time and another step is received in the Flow before `adapt` is completed, FlowCoordinator disposes the current `adapt` in order to start a new one due to the usage of [.flatMapLatest](https://github.com/RxSwiftCommunity/RxFlow/blob/1dcdefed3d24acf9473836f803b2911709887a5a/RxFlow/FlowCoordinator.swift#L55)

I believe that such behaviour is not expected

[2022-04-27 13:03] mashe commented on #183
resolved with #184

[2022-04-27 13:03] #183 closed

[2022-05-12 07:11] leolobato commented on #181
Any updates on this one? I can confirm I'm also running into this same issue.

[2022-10-11 23:45] nflahavan opened #186 "displayed is incorrect if subscription occurs when view is already on screen"
In the displayed variable created in `Reactive+UIViewController.swift` the `initialState` variable is set to false.
[code]

Because of this initial state, if subscription to this observable occurs after a view is on screen the initial value will be `false` and will not change. This is a potential problem when contributing `Stepper` whose `Presentable` is a `UIViewController`.

One potential soluti